[2018-02-11 09:15] adamdubiel commented on #220
It is not possible currently, you would have to create `nextVersion` task in axion plugin.

[2018-02-11 09:21] asarkar commented on #220
Seems to me a useful task to have. I think release does some of it, but not quite. If implemented, release could use it as well.

Would you consider this as a feature request?

[2018-02-11 10:36] adamdubiel commented on #220
Yes, although i have a very limited time for development.

[2018-02-19 14:53] cliffred opened #222 "Non-existing ReleaseFailedException constructor gets called on unsuccessful push"
When a ScmPushResult is not successful, a `new ReleaseFailedException(result.remoteMessage)` is thrown. But remoteMessage is of type Optional\<String\> and the ReleaseFailedException constructor expects a String:
[code]

[2018-02-19 15:02] adamdubiel commented on #222
Argh, dynamic languages ;) Obviously needs to be fixed. Test is at GitRepository level in `RemoteRejectionTest`.

[2018-02-19 15:16] cliffred commented on #222
I'll try to create a pull request soon.

[2018-02-19 15:20] cliffred commented on #222
If a message is absent, should it be an empty message, or something like 'Unkown error'?

[2018-02-19 15:20] adamdubiel commented on #222
I would go for unknown.

[2018-02-21 11:57] #222 closed

[2018-02-21 12:25] cliffred opened #224 "Only push the new release tag instead of all tags"
Currently, the axion-release-plugin pushes all tags when creating a release, and will therefore potentially also push tags that were unintended. Wouldn't it be cleaner if only the newly created release tag is pushed, or is this a conscious decision?

I've implemented this in a branch https://github.com/cliffred/axion-release-plugin/tree/push-release-tag-only and it seems to work, but I have not te

[2018-02-23 15:43] adamdubiel commented on #224
This is a great suggestion! I will take a look at the code.

[2018-02-23 16:56] bigwaff commented on #215
@adamdubiel The latest release 1.8.3 still does not resolve the issue when end user includes both the latest version of GrGit plugin and axion-release plugin in their project. To further illustrate, I've created a small project which demonstrates the issue.

https://github.com/bigwaff/axion-blows-up

The fundamental issue is axion-release depends upon a specific release version of GrGit plugin whi

[2018-02-23 17:04] adamdubiel commented on #215
Because it is such a big change, i decided to add some manual tests and literally 5 minutes age pushed a tag to some sandbox repo using snapshot version of axion-release, the one without GrGit. I feel safe to release 1.9.0 now.

[2018-02-23 17:17] adamdubiel commented on #215
...and just released 1.9.0:

https://plugins.gradle.org/plugin/pl.allegro.tech.build.axion-release

[2018-02-23 17:21] adamdubiel commented on #215
Also checked with your sample project, works as expected:

[code]

[2018-02-26 10:30] cliffred commented on #224
I'll try to create a test and look at your comment some time this week.

[2018-02-26 22:55] #215 closed

[2018-02-26 22:56] bigwaff commented on #215
Awesome. I've verified as well.

[2018-02-27 03:26] amimas opened #225 "Could not resolve current position on uninitialized repository"
Hello,

I've been reading the guides/docs for this plugin for awhile now and finally decided to try it out. I'm applied the plugin in one of my project. When I run `sh gradlew currentVersion`, I get the following response:

[code]

I'm not sure if this is because of my project's layout or if I mis-configured something. My project layout is like this:

[code]
As you can see, my root project is in t

[2018-02-27 08:03] adamdubiel commented on #225
The thing is that `axion-release` expects Git repository root to be at project root by default.

However you can change this, as described in [Repository section docs](http://axion-release-plugin.readthedocs.io/en/latest/configuration/repository.html):

[code]

In general a good place to start when looking if something can or can't be done in axion-release is to look at [configuration overview](ht

[2018-02-27 17:20] amimas commented on #225
Thanks a lot for the hint. That worked out fine.

[2018-02-27 17:20] #225 closed

[2018-02-28 11:48] adamdubiel commented on #206
I can merge the potential fix, as long as you can test it with your corner-cases :) Sorry for ignoring this issue for so long, i just noticed that it is still open.

[2018-02-28 11:48] #202 closed

[2018-03-02 12:55] cliffred commented on #224
I've added a test,
see https://github.com/cliffred/axion-release-plugin/commit/f7c6b4c28f4ddc8f2949984242c032b7043eee84

But I'm not sure how to handle the PushReleaseTask and HookContext as they also do pushing, and at that time you don't know the release tag.

[2018-03-07 09:37] oliverlockwood opened #226 "Regression: versions later than 1.8.1 no longer derive credentials from `ssh-agent`"
### Scenario:
-  Jenkins pipeline build
-  Configuration of `axion-release` as follows:
[code]
-  Credentials are loaded into the `ssh-agent` (via Jenkins `sshagent` pipeline step).  They're not in, for example, the `~/.ssh/id-rsa` file.

### Previous behaviour
With `axion-release` version `1.8.1`, the `pushRelease` task works just fine and tags are pushed to the repo.

### Regression
With version

[2018-03-07 10:16] oliverlockwood commented on #226
Doing a little bit of digging here, I suspect the first culprit is [this commit](https://github.com/allegro/axion-release-plugin/commit/029d3371abfc243a19a2b7e8d62a86fb0eaf5e57) where for a push (without explicit credentials configured through `axion-release`) we no longer use `GrGit`, and instead always directly call `JGit`.

`GrGit` was clearly doing some niceties, e.g. in [PushOp](https://githu

[2018-03-07 10:24] adamdubiel commented on #226
Thanks for reporting this! I suspected, that removing GrGit might lead to some problems in scenarios that we don't use at Allegro. I will try to fix it using pure JGit during the weekend. I will reach out if i have more questions (or need additional testing?)

[2018-03-07 10:27] oliverlockwood commented on #226
No worries.

Note that when I dug further under the hood, the [GrGit JschAgentProxySessionFactory class](https://github.com/ajoberstar/grgit/blob/master/src/main/groovy/org/ajoberstar/grgit/auth/JschAgentProxySessionFactory.groovy) gets used, which is non-trivial.

I think this probably warrants some thought at a high level from the maintainers of the repo as to how you want to proceed.  For examp

[2018-03-07 10:42] adamdubiel commented on #226
I know all those classes :) Unfortunately i did not write all necessary SSH tests back in the days, so i have to pay the debt now.

[2018-03-22 16:30] oliverlockwood commented on #226
@adamdubiel any update, and can I be any of any help?

[2018-04-03 16:46] k3mist opened #229 "Cannot cast object exception when releasing. Axion 1.8.3 and 1.9.0"
I tried on Axion 1.8.3 and 1.9.0. Both I am getting the same exception. Is this a configuration issue on my end or am I running into a real error here?

This is on Jenkins Pipeline.

Exact error
[code]
Jenkins Stage
[code]

Logs are identical for both 1.8.3 and 1.9.0
[code]

[2018-04-03 18:54] k3mist commented on #229
@adamdubiel Thanks for the quick response! You're right. Not sure why this didn't cross my mind! I just checked the build folder on Jenkins and it did indeed clone via https.

[2018-04-03 18:57] adamdubiel commented on #229
Nice to hear it :) Probably the message could be a bit more verbose, since now it's just `RuntimeException` populated through the stack.

[2018-04-03 19:11] #229 closed

[2018-04-23 14:12] cliffred opened #230 "ScmPosition.branch is set to commit hash istead of HEAD since version 1.9.0"
Since version 1.9.0, probably since commit 5a6d2d6, the value of ScmPosition.branch changed from HEAD to the commit hash if the repo is in a detached head state (checkout of a specific commit).

Example:
[code]
```> git checkout 56e5e1113ab55e567d9e918860fa001eecc903cb```
**In 1.8.3:**
[code]
**In 1.9.0:**
[code]

[2018-04-23 14:29] adamdubiel commented on #230
Thanks for pointing this out, i will take care of it.

[2018-04-26 07:12] andy837 opened #231 "In default, properties.directory will be set to folder "${rootDir}.config", then error occurs"
https://github.com/allegro/axion-release-plugin/blob/caf3666a30ff752b4d92933ee07484505106595b/src/main/groovy/pl/allegro/tech/build/axion/release/infrastructure/git/GitRepository.groovy#L34

I wrote below script into build.gradle
    scmVersion {
           tag {
               prefix = 'xxxxxxx'
           }
     }
    project.version = scmVersion.version
When I run command 'gradle release', then

[2018-04-26 07:36] adamdubiel commented on #231
I'm not sure i understand the problem. As you can see [here](https://github.com/allegro/axion-release-plugin/blob/1b5ac3ff3fc26afd48ca47ef5426c4f666beaad8/src/main/groovy/pl/allegro/tech/build/axion/release/domain/RepositoryConfigFactory.groovy#L21) the default value of `scmConfig.repository.directory` is `project.rootDir`. What is the root dir in your project (the one with `build.gradle` and `set

[2018-04-26 08:00] andy837 commented on #231
Hi, I'm sure my project.rootDir is correct, below is my code

`plugins {
    id 'pl.allegro.tech.build.axion-release' version '1.9.0'
}

apply plugin: 'java'
apply plugin: 'eclipse'
apply plugin: 'maven-publish'

sourceCompatibility = JavaVersion.VERSION_1_6
targetCompatibility = JavaVersion.VERSION_1_6

task wrapper(type: Wrapper) {
	gradleVersion = '4.6'
}

scmVersion {
    tag {
        prefix

[2018-04-26 08:11] adamdubiel commented on #231
Can you show your project dir structure? What is this `config` directory?

[2018-04-26 08:37] andy837 commented on #231
Folder config just include checkstyle config files, below is the error info

[code]

I think the key point is not here, as you say, the default value of scmConfig.repository.directory is project.rootDir, the key point is scmConfig.repository.directory or project.rootDir, but I wrote a task to print project.rootDir, the result has prove project.rootDir is correct

[2018-04-26 08:48] andy837 commented on #231
Sorry adamdubiel, I just replace the real dir with  'project.rootDir' to comply the company policy (cry face)

[2018-04-27 01:50] andy837 commented on #231
Hi Adamdubiel, as you say, I created a new gradle project(it has same folder config), although I delete configuration 'scmConfig.repository.directory', it also work fine, but I have no idea why my old project can't work, it seems the old project has different configuration cause the project.rootDir be changed

[2018-04-27 02:47] andy837 commented on #231
Hi Adamdubiel, it seems only one [place](https://github.com/allegro/axion-release-plugin/blob/1b5ac3ff3fc26afd48ca47ef5426c4f666beaad8/src/main/groovy/pl/allegro/tech/build/axion/release/domain/RepositoryConfigFactory.groovy#L21) the scmVersion.repository be initialized, but I wrote a task to print project.rootDir, the result is correct, so I have no idea where project.rootDir be changed, maybe in

[2018-04-27 07:54] adamdubiel commented on #231
How about you create a task that prints `scmVersion.repository.directory`? This flag can be only set using configuration, it is never read from cmd line nor env.

[2018-04-29 13:56] adamdubiel commented on #230
GrGit used different method to get branch name. I used default JGit methods, which in detached state returned commit id. I changed the code to mimic what GrGit did.

[2018-04-29 14:01] #230 closed

[2018-05-04 09:50] DeKaN opened #234 "Version 1.9.0 is not available in maven"
Gradle file:
[code]

Build output:
[code]

[code]

[2018-05-16 07:08] lwasylkowski opened #236 "Two tags on the same commit behavior clarification"
When we have one commit with two tags -- say `1.0.0` and `1.1.0-alpha`, the computed version is always the 1.1.0-SNAPSHOT one. We were thinking of having a flow where we release a version, and immediately mark the new one for development. This doesn't seem possible with current behavior, since after marking new release we're not able to infer current stable release.

Our reasoning is that stable v

[2018-05-16 11:05] adamdubiel commented on #236
Stable version should always have higher priority. This is also enforced by test in project itself. This was a bug in the first place and it was fixed in 1.7.2. Which version are you using?

[2018-05-16 12:20] lwasylkowski commented on #236
I'm using `pl.allegro.tech.build:axion-release-plugin:1.9.0` from gradle plugin portal (although imported in a custom plugin, not via `plugins{}` block, but I think that doesn't matter.

This is my functional test:

[code]

This is the output:

[code]

I don't think we change anything significant in the configuration:

[code]

[2018-05-16 13:04] lwasylkowski commented on #236
I think the test you're thinking about verifies two tags specifying the same version (`should prefer normal version to nextVersion when both on same commit`), only one is next version marker, the other is stable. Our case would be described by this scenario:

[code]

[2018-05-16 13:31] adamdubiel commented on #236
You are right, i missed this detail. PR would be great if you have time and means for it :)

[2018-05-16 15:27] lwasylkowski commented on #236
Fixed by https://github.com/allegro/axion-release-plugin/pull/237. I see there are other PRs waiting for the review, and I know you're busy -- do you have any plans for some next release, or maybe snapshots are published automatically?

[2018-05-16 16:50] adamdubiel commented on #236
I didn't have time to take a look at the other one yet. I will publish this one asap, as there is one more bugfix waiting for a release.

[2018-05-20 16:14] #236 closed

[2018-05-20 16:43] adamdubiel commented on #234
Not this again.. let me check on it, update the plugins and so on.. last time it was outdated Gradle publishing plugin.

[2018-05-20 16:52] adamdubiel commented on #231
Did you manage to get it right? What was the problem?

[2018-05-20 17:09] adamdubiel commented on #234
The files are there, just named differently: [JFrog repo](https://repo.jfrog.org/artifactory/libs-release-bintray/pl/allegro/tech/build/axion-release-plugin/1.9.0/`).

When i run `./gradlew cV -i --refresh-dependencies` i get this for axion-release:

[code]

but also for any other plugin, even gradle-publish:

[code]

When i try to fetch plugin of unknown version at first I get:

[code]

But the i

[2018-05-20 20:36] DeKaN commented on #234
Gradle 4.7

Rechecked now:

[code]

[2018-05-20 20:36] #234 closed

[2018-05-21 08:54] lwasylkowski opened #238 "Wrong snapshot version resolution in 1.9.1"
Seems like my PR broke snapshot version resolution:

[code]

This test will fail on current master. Seems like resolver now always resolves to the stable version, thus with commits after the release the version will only ever increase by patch version. This change seems to fix things:

[code]

What would happen after this change is that release tag has a precedence only if it's on HEAD, otherwise

[2018-05-21 09:17] adamdubiel commented on #238
No worries. I thought that tests cover all major cases and happy-paths. Turns out they don't. I will review & release new version in the evening.

[2018-05-21 09:18] adamdubiel commented on #238
Oh and if there is need for introducing more tests, i will take care of it not to delay the release.

[2018-05-21 09:52] lwasylkowski commented on #238
Take your time -- if someone wasn't affected by the first bug they can continue to use 1.9.0, and I've released private 1.9.2 with this fixed for our purposes in the meantime (and maybe we'll catch something else with that, too)

[2018-05-24 09:02] cliffred commented on #238
The snapshot version resolution is still broken after this fix (#239) when using -Prelease.useHighestVersion

The test below fails because it prints 'Project version: 1.0.1-SNAPSHOT' instead of 2.0.0-SNAPSHOT

[code]

[2018-05-25 08:16] oliverlockwood commented on #226
@adamdubiel 3 months on, is there any chance of an update on this, please?

[2018-05-28 11:13] balreddychappidi commented on #234
I am also facing the same issue

[2018-05-29 21:20] jjstreet opened #240 "Cannot set initialVersion"
Version 1.9.1

I created a simple gradle-based project. The only plugin besides gradle base plugins is the axion release plugin. I have no tags in the repository so I should be seeing my initialVersion.

I tried to set my initialVersion closure as follows:
[code]
The gradle task `currentVersion` still says `0.1.0-SNAPSHOT`

[2018-05-30 17:20] kkovach opened #241 "Android Flavor Support?"
I have an Android library that has 2 flavors and I'm having a hard time figuring out if I can get this plugin to work with them. Specifically, I'd like to tag and release each of the flavors separately if possible. The problem I'm running into is that the prefix is different for each of the flavors. I believe this is the case. Or, at least how I was imagining it and trying to get it working.

Has

[2018-06-04 10:42] adamdubiel commented on #240
I just created a high-level integration and indeed it does not seem to work when passing config from build gradle. I'm investigating this issue now.

[2018-06-04 10:55] adamdubiel commented on #240
One question: where in your build file you do the: `project.version = scmVersion.version` assignment? It should be done **after** `scmeVersion{ tag { ... }  }` definition. I think this might be the case here :)

[2018-06-05 18:40] georgThesis commented on #101
@mario16 where did you put this in your build.gradle? Could you pass an example? Is it meant to go inside  axion-release scmVersion block?

[2018-06-13 09:26] YevhenDuma opened #243 "Wrong version name"
Hi,

I've created few releases in master branch using axion-release plugin, and everything looks good.
I've got tags:
release-1.1.0
release-1.1.1
release-1.1.2
release-1.1.3

But when I run on develop branch, I am getting next:
./gradlew cV -Prelease.useHighestVersion -Prelease.forceSnapshot

Project version: 1.1.1-SNAPSHOT

but as I understand it should be 1.1.4-SNAPSHOT, right?

Thanks!

[2018-06-13 09:39] adamdubiel commented on #243
Yes, but `axion-release` traverses commits only in current branch. So if you created tags in other branches and never merged them, you won't see those tags i commit tree, thus you won't see the newest version. You can read more [in docs](http://axion-release-plugin.readthedocs.io/en/latest/configuration/version.html#first-tag-encountered).

[2018-06-13 10:10] Fodoj opened #244 "Commit is pushed without branch"
Tagging as it is works fine for me, but when I add simple hook to change the gradle.properties file and they perform release, commit is pushed without any branch attached to it, so it's just a tag and commit on it and that's it.

Not sure how to debug it even :-)

Ah, and this happens in TeamCity only, locally it works fine. I can confirm that in TeamCity repo is _not_ in detached state though.

[2018-06-13 11:03] YevhenDuma commented on #243
So the solution is to merge from master to develop in my case, right?

Even if I am fetching all tags?
Even with -Prelease.useHighestVersion ?

[2018-06-13 11:40] adamdubiel commented on #243
Yes :) Fetching all the tags does not make them visible when traversing commit tree in current branch.

[2018-06-13 13:47] YevhenDuma commented on #243
thanks a lot @adamdubiel for your answers.

Will you consider to add some flag to check all tags, not only in current branch? :)

[2018-06-13 14:01] adamdubiel commented on #243
Frankly: i would review & merge PR, but probably will have no time to code it :)

[2018-06-13 19:27] adamdubiel commented on #243
Just create a PR if/when you have time, i will close this issue.

[2018-06-13 19:27] #243 closed

[2018-06-14 07:13] adamdubiel commented on #238
I created new PR to fix (hopefully) all problems with version sorting: #246 .

To isolate the problems, i created new class: `VersionSorter`. Class comments contain the precedence used. Please also take a look at `VersionSorterTest` which tests cases that i came up with. All tests (including the once @cliffred posted) pass on this branch.

[2018-06-14 10:09] piotrchowaniec opened #247 "Current version resolution is not respecting version incremented"
I'm not sure if this is a bug, so please close in case it doesn't.
When I have version incrementer set to increment minor part of the version then calling `./gradlew currentVersion` gives different result than version created using `./gradlew release`.
I've created a test for this case, so you can check the issue.
Please take a look at my [fork](https://github.com/piotrchowaniec/axion-release-plug

[2018-06-14 17:55] pslootweg opened #248 "Managing version numbers on merging"
We have our 'release' code on the 'master' branch, and then develop on ```'bugfix/.*', 'hotfix/.*', 'feature/.*' or 'release/.*'``` branches.
For each of these I would like to use the patch/patch/minor/major version incrementors - which seems to work, but...

When we merge back to master, the version number there does not reflect the branch that was merged - it just increments the patch number.

I

[2018-06-14 19:00] YevhenDuma commented on #243
Thanks a lot!

[2018-06-14 19:36] edio opened #249 "Plugin won't work if not in the root of git repository"
[code]
When executed from subdirectory I expect
[code]

But actually I get
[code]

Plugin version: 1.9.1

Tested environments environments
[code]
[code]

[2018-06-14 19:50] edio commented on #249
Looked briefly through the source and I'm not familiar with JGit at all, but seems that plugin doesn't even intend to support my use-case. Please clarify if that's the case.
[code]

My directory structure is like this:

[code]

[2018-06-15 09:14] adamdubiel commented on #249
`axion-release` supports setting arbitrary path as git root via:

[code]

Did you try it? You can find more in [docs](http://axion-release-plugin.readthedocs.io/en/latest/configuration/repository.html).

[2018-06-15 09:24] adamdubiel commented on #248
If i understand correctly, you could achieve it by creating release on one of those branches and then merging to master. This would create tagged commit with expected version. However i know that his approach might not be "clean" (releasing from sth else than master). Currently `axion-release` knows nothing about branches that were merged. You can take a look at discussion in #52 , maybe it will h

[2018-06-15 12:36] edio commented on #249
Ooops. Missed that. Thanks for pointing out.

Setting it explicitly is for sure more flexible. Than detecting automatically as I tried to do in the pr.

What if two approaches are combined? If the directory is not set explicitly, try to detect it, not just fallback to project root.

It's not even a proposal or feature request, merely a question. I see a benefit for my case, but there may be downsi

[2018-06-15 13:51] adamdubiel commented on #249
By autodetect you mean go up the directory tree? This is actually how Gradle project detection works (or used to work). It traverses directories until it finds `settings.gradle` file, which describes the project and it becomes project root.

This could work, but i'm afraid it has quite a lot of potentially hard-to-debug side effects for the ones not aware of it, like creating release or reading ve

[2018-06-15 14:16] edio commented on #249
Yes by autodetect I mean go up the tree (JGit does this for us). The only difference would be, that it could go farther, than `settings.gradle`. So behavior won't change if
* a project already has `.git` and `settings.gradle` in same directory `A/`. Autodetection result will be `project.rootDir`, which is `A/`.
* a project is _correctly configured_, and has `.git` in `A/`, and `settings.gradle` in

[2018-06-15 15:18] adamdubiel commented on #247
Thanks for providing the test, i'm going to have a look at it.

[2018-06-15 15:50] adamdubiel commented on #249
Thanks for the kind words ;)

I'm not saying that this feature is not useful and if i see some more demand in the future I might get back to this, but i'm glad that you understand that for now it might not be worth the effort (including future maintenance & debugging) since there is an explicit way to do this.

[2018-06-15 16:01] adamdubiel commented on #247
I copied the test and run it on `master` and it failed because `VersionPropertiesBuilder.incrementMinor()` method does not exist. After implementing it, test passes. In forked code, i see no implementation of `incrementMinor()` ([file](https://github.com/piotrchowaniec/axion-release-plugin/blob/master/src/test/groovy/pl/allegro/tech/build/axion/release/domain/properties/VersionPropertiesBuilder.gr

[2018-06-15 17:10] adamdubiel commented on #244
Hm, when debugging this kind of issues on bamboo i just added stuff like `git remote show origin` just to see the real state of repository. I don't know how to help you in any other way, i never encountered this issue :)

[2018-06-18 08:38] piotrchowaniec commented on #247
Test and implementation is on the `respectVersionIncrementer` branch. [file](https://github.com/piotrchowaniec/axion-release-plugin/blob/respectVersionIncrementer/src/test/groovy/pl/allegro/tech/build/axion/release/domain/properties/VersionPropertiesBuilder.groovy).

In the meantime I've found an error in my configuration (`project.version = scmVersion.version` before `scmVersion` in the build.gra

[2018-06-18 08:38] #247 closed

[2018-06-20 13:09] schoeneu commented on #182
Hi @adamdubiel , do you have a PR/branch with your experimental code for Git caching? I can't promise that I'd be able to work on it, but I'd like to give it at try.

Background: We have the same issue, but in addition to speed, we're running into heap memory issues on the Gradle daemon as the current way of doing things keeps a copy of the git-related objects around for every `Project` in our mul

[2018-06-20 20:37] adamdubiel commented on #182
Yes, i do have this branch somewhere and while i'm not 100% sure, i think it would help. I can dig it up, the cache layer was pretty much finished, but i failed to integrate it with the whole project (lot of tests and constructors to change to pass it down the chain).

[2018-06-21 14:11] LumiH commented on #86
Hello,

I am having a similar issue with the plugin. I just asked on Stack Overflow. I was wondering if you have any suggestion on how to work it out.
Here's the link to the question:
[https://stackoverflow.com/questions/50957407/in-jenkinsfile-gradlew-release-doesnt-execute-because-of-a-gitlab-push-fail](https://stackoverflow.com/questions/50957407/in-jenkinsfile-gradlew-release-doesnt-execute-be

[2018-06-25 14:15] schoeneu commented on #182
If you could dig that branch up and push it, that would be greatly appreciated :) .

[2018-06-25 17:20] mlimat commented on #133
Having a similar issue.

My structure is:
[code]

Where `sub-project` is detached from `main-project`'s gradle, but lives in the same repository, i.e. `main-project/.git`

So, in `sub-project/build.gradle` I have:
[code]

However, when I do:
[code]
I get
[code]

Note, when I `print(project.rootDir.parentFile)`, I get the correct path: `/path/to/main-project`

[2018-06-28 13:35] adamdubiel commented on #238
Done, 1.9.2 is out :)

[2018-06-28 14:07] baptistemesta commented on #238
👍 many thanks :)

[2018-07-02 15:34] farrukhnajmi opened #251 "Multi-module with multiple version"
The https://github.com/allegro/axion-release-plugin/blob/master/docs/configuration/basic_usage.rst page says:

I have a multimodule project with following module structure:

- my-services
  - a
    - a-client (client API for a-service )
    - a-service (a-service impl)
  - b
    - b-client (client API for b-service )
    - b-service (b-service impl)

I would like to increment version of a-client a

[2018-07-02 15:59] farrukhnajmi commented on #251
It appears that the plugin works as expected if I do createRelease task on just the client and service modules:

gradle a:a-client:createRelease a:s-service:createRelease

This seems like an adequate solution to me. Please let me know if there are gotchas I should be aware of with this model.

[2018-07-05 07:47] adamdubiel commented on #182
This is the one: https://github.com/allegro/axion-release-plugin/tree/performance_tests

[2018-07-09 07:24] YevhenDuma opened #252 "version starts from scratch after deleting working directory"
Hi,

I have gradle+Jenkins+axion-release-plugin for automated versionning.

After I've deleted Jenkins working directory, gradlew cV started to show version 0.1.1.
Git tag shows that I have tags release-1.1.20 for example, so I am expecting to have version 1.1.21.

Regards

[2018-07-09 07:37] YevhenDuma commented on #252
`.\gradlew release -Prelease.forceVersion=1.1.19

Looking for uncommitted changes..

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':verifyRelease'.

[2018-07-09 07:39] adamdubiel commented on #252
Hi,

What do you mean by "deleted Jenkins working directory"? How does your flow look like? Does everything work on localhost?

Also for this `FAILED` job, can you run it with `-s` and post stacktrace?

[2018-07-09 07:42] YevhenDuma commented on #252
Hi Adam,

I guess I found issue: for some reason there was tag adde - release-0.1.0.
So it took last tag (sorted by time I guess) and increased.

I guess I won't be able to find why that tag was added, so you can close this issue.

Thanks. alot!

[2018-07-09 07:48] YevhenDuma commented on #252
I have Jenkinsfile which has next functions:

`def doCheckout() {
    if (!isUnix()) {
        echo "Adding support for longpaths."
        bat 'git config --global core.longpaths true'
    }
    checkout scm
    if (env.BRANCH_NAME == 'develop') {
        echo "Merging from master to develop..."
        if (isUnix()) {
            sh 'git pull origin master'
            sh 'git fetch --all'

[2018-07-09 07:49] adamdubiel commented on #252
It is not sorted by time :) `axion-release` traverses the commit tree until it finds first tag with matching prefix. You can change this behavior by switching to [useHighestVersion](http://axion-release-plugin.readthedocs.io/en/latest/configuration/version.html#tag-with-highest-version). This however forces `axion-release` to lookup all commits in current tree.

[2018-07-09 07:49] #252 closed

[2018-07-09 08:35] YevhenDuma commented on #252
Another case

git tag
release-1.1.19
release-1.1.2
release-1.1.20
release-1.1.3
release-1.1.4
release-1.1.5
release-1.1.6
release-1.1.7
release-1.1.8
release-1.1.9
v0.1.0
v0.1.1
v0.2.0

.\gradlew cV

 Task :currentVersion

Project version: 1.1.20

But expected was 1.1.21-SNAPSHOT

[2018-07-09 08:38] adamdubiel commented on #252
You got full version, so were there any commits after `release-1.1.20` tag? Looks like you are currently on this tag.

[2018-07-09 08:59] YevhenDuma commented on #252
You are right! thanks a lot.

[2018-07-13 11:17] deejay1 opened #253 "Incomprehensible error message when trying to run createRelease"
When trying to run createRelease on a branch (ignore the fact, that you shouldn't release it from there for now) with 1.9.2 you get a rather incomprehensible error message
[code]

version 1.8.x gives a more readable
[code]

[2018-07-20 11:13] YuriGusev opened #254 "Issue with pushRelease task error handling"
**Bug**
When pushRelease is called and a tag that you are trying to push already exists on remote repo it fails with an unrelated error:

:pushRelease
Pushing all to remote: origin
Exception occurred during push: org.eclipse.jgit.api.errors.TransportException: ssh://git@*****: USERAUTH fail
:pushRelease FAILED

**How to simulate**
1) Create a new tag on remote for example release-0.1.1
2) On local

[2018-07-25 16:37] punit-shah opened #255 "Changelog needs updating"
The most recent version documented in the changelog (http://axion-release-plugin.readthedocs.io/en/latest/changelog.html) is 1.8.0, even though the latest version of the plugin is now 1.9.2.

It would be nice to see what has changed between versions.

[2018-07-25 16:50] punit-shah commented on #255
Found https://github.com/allegro/axion-release-plugin/blob/master/docs/changelog.rst after creating this issue, sorry!

Still, is there a reason the linked docs site doesn't have this?

[2018-07-26 18:07] andrepires-ad commented on #211
Hi, Is this issue really fixed? We experienced the same issue on 1.9.0. We downgraded to 1.8.1 as well to unblock the build.

[2018-07-26 18:21] valfirst commented on #211
in our case it was fixed, but we also needed to change the way of properties passing:
[code]

[2018-07-26 22:12] adamdubiel commented on #255
Hi, no, there is no reason for it to stay this way. Probably sth broke in docs build, i will take a closer look at it.

[2018-07-26 22:13] adamdubiel commented on #254
Thanks for reporting, i will try to fix it (add meaningful err message) next week.

[2018-07-31 09:29] adamdubiel commented on #251
I think this should be okay, since as far as i understand `a` is not really a module. I think what you could do is ignore `a` and `b` when applying plugins, sth like:

[code]

[2018-07-31 09:34] #251 closed

[2018-07-31 12:01] #253 closed

[2018-08-04 10:52] adamdubiel commented on #254
I tried to reproduce the issue in tests (using "real" remote repo in Docker), but it seems like in my test setup everything works fine: push gets rejected when tag exists on some other commit. No exception is thrown.

Could you take a look at the test code and tell me if i'm missing something? It's on [this branch](https://github.com/allegro/axion-release-plugin/compare/test_pushing_with_existing_

[2018-08-05 10:49] YuriGusev commented on #254
Thank for looking into this Adam. I'm currently on vacation without access
to my laptop. I'll look into it when I return in one week.

сб, 4 авг. 2018 г. в 12:52, Adam Dubiel <notifications@github.com>:

[2018-08-08 12:29] SchwiftyRick commented on #199
Hi Adam,
what if it is necessary to use annotated tags? Is there some workaround?
Thanks and KR
Martin

[2018-08-15 11:46] adamdubiel commented on #241
I'm closing this issue, but if you still have this problem (or found the solution you would like to share - don't hesitate to reopen).

[2018-08-15 11:46] #241 closed

[2018-08-15 11:47] adamdubiel commented on #244
Did you manage to find the solution?

[2018-08-15 11:47] #238 closed

[2018-08-15 11:48] adamdubiel commented on #231
I'm closing this one for now - if you found a solution or need more help don't hesitate to reopen :)

[2018-08-15 11:48] #231 closed

[2018-08-15 11:49] adamdubiel commented on #248
I'm closing this one - in case you need more help or want to discuss it more - just reopen :)

[2018-08-15 11:49] #248 closed

[2018-08-15 11:54] adamdubiel commented on #207
Did you found a way to achieve what you wanted? Please reopen if not :)

[2018-08-15 11:54] #207 closed

[2018-08-21 16:32] adamdubiel commented on #255
I changed format of docs to mkdcos (i been meaning to do this for a while now) and docs build just fine. However i just noticed that custom mkdocs themes are no longer supported.. I will need to put some more work into this.

[2018-08-21 16:32] #255 closed

[2018-08-22 01:32] KishorGaneshrao opened #258 "Increment snapshot version"
Hi,

Thank you for this wonderful plugin, we are utilising this for our release versioning.

But i was just wondering, with this plugin is there a way to increment the snapshot versions as well? Apart from the first increment from last release tag.
If there were to be multiple commits without tag then the task of currentVersion still provides the same sanpshot version as before. As it always check

[2018-08-22 16:51] adamdubiel commented on #258
Hi :) Thanks for the kind words.

I never thought about adding snapshot increments. The reason is - the version itself did not change. So if version was incremented with each commit, what would be the release version?

[code]

If you want to have distinct versions for each snapshot, you can utilize version decoration and add short commit revision (mind, this code will also decorate releases!):

[c

[2018-08-22 21:57] KishorGaneshrao commented on #258
Thank you for the quick response @adamdubiel

It never really crossed my mind, though I was already using the version Creator with branch. :)

shortRevision works fine for our requirement. :+1:

[2018-08-24 00:45] KishorGaneshrao opened #259 "initialVersion setup issue"
Hi,

I'm trying to use initialVersion setup, but even after release it seems like i'm still stuck with snapshot version.

What am I missing here please:

- set up initial verison in build file
[code]

- check currentVersion, which correctly returns -
[code]

- run release task:
[code]

- Now when I check currentVersion again, I still get snapshot:
[code]
- whereas the latest commit is now tagged w

[2018-08-24 00:55] KishorGaneshrao commented on #259
- And further to that, the very first attempt of running release actually throws exception as tag exists:
[code]

[2018-08-24 02:13] KishorGaneshrao commented on #259
I believe my problem was:
[code]

here is the full scmVersion config I have:
[code]

[2018-08-24 07:11] adamdubiel commented on #259
Yes, your versions were not matched, because version tags were mistaken for nextVersion tags. You can read more about next version in the [docs](https://axion-release-plugin.readthedocs.io/en/latest/configuration/next_version/). It has to have some distinctive suffix, `''` is not a best one :)

[2018-08-26 22:48] #259 closed

[2018-08-26 22:49] KishorGaneshrao commented on #258
Thanks @adamdubiel , closing this thread

[2018-08-26 22:49] #258 closed

[2018-08-27 16:41] YuriGusev commented on #254
Sorry for delay Adam. I will try to look into it tomorrow.

[2018-08-29 13:09] oliverlockwood commented on #226
@adamdubiel it's just that a number of teams keep bumping into this bug on our CI servers (which use `sshagent` keys to authenticate with Git) when they proactively bump their plugin versions up.  So it's wasting a little bit of time for different people at various points, which is annoying 😄

[2018-08-29 17:12] adamdubiel commented on #226
Okay, i get it :) Maybe you find it annoying enough to create a PR? I know `sshagent` tests can be difficult, so i would welcome PR with manual tests only (as it was pre `1.9.x`). I think the implementation in `GrGit` looks like a good point to start. I would really prefer not to reimport `GrGit` just for this (or maybe as an optional dep)?

[2018-10-02 07:55] saas2813 commented on #195
Ouch, sorry. This was the place I found the reference to it, didn't realise it was not a Jenkins project :-(

[2018-10-02 08:59] adamdubiel commented on #195
No problem :)

[2018-10-05 18:48] neilyalowitz opened #262 "push tag even if no changes are detected in Multi-repo project"
I'm attempting to release using a multi-module project but I notice the default behavior prevents "re-tagging" a release.  We're using a "release train" where upon release all modules are given the same version number.  This means some modules which rarely (or never) change should still be tagged with each new release.  Example: current version is 1.0.0, new code is committed to a module, when rea

[2018-10-09 17:50] trohr opened #263 "CurrentVersion issue: nextVersionTag and forceSnapshot yield nextVersionTag+1"
### Issue
When `-Prelease.forceSnapshot` is specified and last tag is `nextVersionTag`, than `currentVersion` is incorrect -> the version is incremented once more.

Given:
 tag 'release-1.2.0-alpha'
 -Prelease.forceSnapshot

When:
 gradle currentVersion

Then:
 BUG: currentVersion == '1.2.1-SNAPSHOT'
 IMHO SHOULD be: currentVersion == '1.2.0-SNAPSHOT'

### Current status of the issue
I have reprod

[2018-10-09 17:50] damnhandy commented on #226
Out of curiosity, what was the driver for dropping `GrGit` as a dependency? I ask as folks have been recommending the [Rekon plugin](https://github.com/ajoberstar/reckon), which does some of what Axion does but, but not as cleanly. Rekon also used `GrGit` so I'm just curious as what the driver was?

[2018-10-09 22:34] trohr commented on #263
Hi,

I have been able to fix the problem I have encountered, but I found another issue with the `forceSnapshot` option.

What I have fixed was simple enough, but making the second failing test work would IMHO entail making some design decision in the code of `VersionResolver.resolveVersion`, `VersionResolver.readVersions` and `VersionResolver.readVersionsByHighestVersion`. I am not comfortable to

[2018-10-10 08:00] adamdubiel commented on #226
I had multiple cases of dependencies clash with different versions of GrGit on classpath. I figured out that all the basic operations in JGit are actually easy to perform. I was using JGit in a lot of places anyway due to performance concerns and GrGit not exposing all the APIs. Sadly the agent integration suffered, but this is the only downside of not using GrGit.

[2018-10-11 12:58] trohr opened #264 "CurrentVersion issue: nextVersionTag on same commit as release version and forceSnapshot yield release version"
### Issue
When `-Prelease.forceSnapshot` is specified and last tag is `nextVersionTag` on same commit as a release tag, than `currentVersion` is the already released version.

### Test Case
    def "should prefer snapshot of nextVersion when both on current commit and forceSnapshot is enabled"() {
        given:
        repository.tag('release-1.0.0')
        repository.tag('release-1.1.0-alpha')

[2018-10-11 19:00] trohr commented on #263
Please excuse the amount of commits to be shown here. I have been cleaning up the commits and rewriting history in my branch.

[2018-10-12 06:54] adamdubiel commented on #263
Thanks for putting the effort to fix this issue :) I don't mint the commits. I will take a look at it on Monday.

[2018-10-15 20:36] adamdubiel commented on #262
Would you mind showing the example directory structure, highlighting modules and how you configure axion in `build.gradle`? Is it per module configuration or global one?

Technically axion is now ready to handle such situations (multiple tags on single commit) when resolving versions but i would like to understand how it behaves when you create release.

[2018-10-15 20:36] adamdubiel commented on #254
Any luck with this one? :)

[2018-10-15 21:04] adamdubiel commented on #264
This issue exists because of the logic described in `VersionSorter`:

[code]

And also specified in `VersionSorterTest`:

[code]

This is because `VersionSorter` has no information about `forceSnapshot` flag. When there is no snapshot, implemented behavior is preferable, because release always should take precedence.

But with `forceSnapshot`.. well, this is not so easy. `forceSnapshot` was design

[2018-10-15 21:07] adamdubiel commented on #263
The original issue is without a doubt a legitimate one. Version should not be incremented twice. Second issue you found.. I'm in two minds. See my comment in #264 and let us discuss it there.

[2018-10-15 22:42] trohr commented on #264
After looking at it for an hour, I realized that _I made an error_ and mislead you in this case because I wrote that the 'released' version is taken into account and made into SNAPSHOT. This is not true.

Currently, evaluation of:
- tag `release-1.0.0`
- `./gradlew cV -Prelease.forceSnapshot`
yields `1.0.1-SNAPSHOT`, where incrementing is done by the configured incrementer for given branch.

This

[2018-10-17 15:57] larvamdp opened #267 "How BranchVersionIncrementer works?"
Hello.
I'm evaluating this plugin, It seems to be just what I needed.
Reading the documentation, I am a little bit confused on how the 'BranchVersionIncrementer' works.
I have this definition:

[code]
How are these increments supposed to be used? When it's invoked `markNextVersion`?
If I begin with **version 1.0.0** and I create the branch **bugfix/bug1** and then execute `./gradlew markNextVersio

[2018-10-18 06:53] adamdubiel commented on #267
I would say that you probably don't need to use `markNextVersion` task. It is there to mark future milestones and being able to release snapshots of a new major versions before they are released.

In your case if you are on `bugfix/bug1` with last stable version being `1.0.0` after adding any commit `currentVersion` will print `1.0.1-SNAPSHOT`.

Branch version incrementers work only with `cV` and

[2018-10-18 11:58] larvamdp commented on #267
Thank you Adam for the fast answer!
I'll check this in my project.
Which incrementer use the command `markNextVersion`? In my case this one?
`versionIncrementer 'incrementMinor'`
Why don't use the same defined in `branchVersionIncrementer` configuration array?

Cheers.
Pablo.

[2018-10-18 12:11] adamdubiel commented on #267
`markNextVersion` uses `incrementMinor` by default. I don't think there is any reason not to use the same as in `branchVersionIncrementer` - it was never implemented. However using `patch` incrementer might have little merit and will only inflate number of tags in your repo.

First version of `markNextVersion` worked only with `-PnextVersion=...`, so you had to explicitly state what is the new nex

[2018-10-18 15:51] larvamdp commented on #267
Hi Adam.
The **bugfix/bug1** works fine, but I have another question.
I need to generate release branches per client.
If I start in version **1.0.0** I create a branch **release/release1 with 1 commit**
If I execute `./gradlew cV` I get **1.1.0-SNAPSHOT**
Then I create a second release branch **release/release2 with another commit**
If I execute `./gradlew cV` I get the same **1.1.0-SNAPSHOT** whe

[2018-10-19 06:43] adamdubiel commented on #267
It will not work as you expect because of how Git works. When looking for tags in repository, axion has access only to current branch and it traverses commit tree in current branch. It does not switch branches in any way.

So to see tags in your current branch from other branches they have to be merged. Only then commits holding those branches will become visible.

https://axion-release-plugin.rea

[2018-10-19 14:10] Theer108 commented on #264
I'll look into it

[2018-10-22 17:15] #264 closed

[2018-10-22 17:16] adamdubiel commented on #264
@trohr looks like @Theer108 fixed this issue :) Can you build and try out snapshot version from master?

[2018-10-22 17:18] #263 closed

[2018-10-26 15:24] mpapirkovskyy opened #269 "How to add branch suffix for snapshots only"
I really like behavior of `versionCreator 'versionWithBranch'`, except one thing.
I want it to work for snapshots only.
E.g. on branch `hotfix` I want `currentVersion` return:
- `1.0.1` when on release tag, current behavior is `1.0.1-hotfix`
- `1.0.2-hotfix-SNAPSHOT` otherwise

Tags are unique in git anyway, so why not.
Any advise?

[2018-10-29 09:14] adamdubiel commented on #269
There is no way to achieve this currently. In `BranchCreator` you have access to `ScmPosition` object, but it does not contain information if you are on tag, so you could modify created version based on being on release.

[2018-11-02 18:22] trohr commented on #264
I will look into it probably sometimes during next week.

Also I would like to add that you are awesome!

[2018-11-07 20:20] k3mist commented on #226
I've been watching this ticket for awhile now and figured I would chime in.

We've been having this issue with Jenkins since `1.8.2` as well. I would like to keep our internal gradle plugin (written in scala) on par with your latest version since we do depend on this for all our internal project versioning (seriously Adam, thanks a ton for this plugin!)

Would having `GrGit` as an optional depende

[2018-11-08 17:45] bthom1 commented on #219
Just trying to wrap my around this plugin so I can make use of it.  We too work on master and release branches. After reading the docs I have the following questions on this topic...

If you merge tags back from release to master branch then how is parallel work/release tags for both hotfix and next major version work?  For example, if we have released 2.0.0 on the release-2.0.0 branch with a tag,

[2018-11-08 18:13] kmandeville commented on #219
FYI, we ultimately switched to a more explicit approach with another plugin where we set the version of the branch in a file in that branch. Causes some problems occasionally when merging since you don't want to merge that file but at least it's more explicit what the version is. I still really wanted to figure out how to use this plugin with our process, but I just couldn't get it consistently en

[2018-11-08 23:02] bthom1 commented on #219
reading the current docs, I think the way to handle this is use the markNextVersion method in the plugin on your master branch.  By default that adds a tag in the master branch set to your next version with a default suffix of "-alpha" which is treated differently than regular version tags, and the suffix is configurable.
See: (https://axion-release-plugin.readthedocs.io/en/latest/configuration/ne

[2018-11-08 23:55] pula2000 opened #270 "TransportException Auth fail on pushing tag since version 1.9.3"
When running gradle release in my project locally I get the following error -
Working on released version 1.0.3, nothing to release
Pushing all to remote: origin
Exception occurred during push: org.eclipse.jgit.api.errors.TransportException:
ssh://git-codecommit.us-east-1.amazonaws.com/...: invalid privatekey: [B@566b395b

I am able to access aws code commit otherwise normally.

[2018-11-09 15:01] adamdubiel commented on #219
@bthom1 in your scenario the mix of what you described (next versions + use highest) will work the best probably. I imagine the following situation after merging all the branches you described:

[code]

The following version will be shown when using `./gradlew cV`:

* `1.0.1` iff `useHighestVersion == false`
* `2.1.0-SNAPSHOT` iff `useHighestVersion == true`

Mind, that `useHighestVersion` is not

[2018-11-09 15:05] adamdubiel commented on #270
Can you show the command/configuration of axion that you use? Are you pushing "by hand" using the same auht method? (private key)

[2018-11-09 15:54] adamdubiel commented on #162
I think this was recently fixed in #266 - there were a bunch of bugs with version resolution on `HEAD`.

[2018-11-09 16:17] pula2000 commented on #270
scmVersion {
    checks {
        uncommittedChanges = false
    }
    tag {
        prefix = ''
    }
}
group 'com....''
project.version = scmVersion.version

Command is - gradle release after "gradle clean build" was executed

[2018-11-09 17:55] adamdubiel commented on #226
So i had a couple of hours on the train and decided to tackle this issue. I basically took a look at how `grgit` detects which ssh agent to use and imitated the code. I tested that basic scenario works, but since i'm not a heavy user of `ssh-agent` and writing proper tests would require a lot of work (create docker with ssh-agent and run axion-release inside), i would really appreciate if someone

[2018-11-09 18:05] adamdubiel commented on #270
I think it might be connected with lack of ssh-agent support in 1.9.x versions (i just tried to fix it, see: #226), can you try with axion-release 1.8.1? If it works, it is definitely due to #226.

[2018-11-12 14:39] k3mist commented on #226
@adamdubiel I will give it a run as soon as I get some time this week and I'll report back. Work is crazy right now so I'll try my best to get to it before Friday. Thank you for taking a shot at this!

[2018-11-13 08:46] agusmba commented on #219
If you don't want to use `useHighestVersion` you could simply tag again your release branch after merging the production hotfix:

    A -- release-2.0.0 -- B -- release-2.1.0-alpha -- C -- release-1.0.1 -- D -- release-2.1.0.alpha.2

[2018-11-13 14:21] oliverlockwood commented on #226
@adamdubiel I'll try and give some feedback this week as well if I have the chance.  Thanks for taking the time to put together a candidate fix; apologies I never managed to make the time myself.

[2018-11-13 22:37] bthom1 commented on #219
@adamdubiel thanks for the clarification. One other question, a bit off topic, what is the best way to set things up so that my release branches start incrementing with rc.1 (e.g. rc.1, rc.2 etc)? I want the 'rc' and # separated by a dot to make it easier for any external tools that need to parse the version.

[2018-11-14 19:56] bthom1 commented on #219
@adamdubiel Thanks, I will try incrementMinorIfNotOnRelease and branchVersionIncrementer incrementPrerelease for release.*.

My understanding (perhaps I'm misunderstanding) of the semver spec is that '-rc.1' is a valid prerelease value, and will allow for numeric comparison of a dot separated field in the prelease version as opposed to lexical comparison which results in 'rc2' > rc12.

Here is the

[2018-11-15 08:12] adamdubiel commented on #219
Oh, great :) My mistake, it is semver compliant, somehow i thought there must be no dots in prerelease.

However I don't know if current implementation of `incrementPrerelease` will work with dot notation, so you should probably give it a try or read the tests/source code. Anyway i think it should work :)

[2018-11-17 15:03] k3mist commented on #226
@adamdubiel Nice job man!

Published the branch build to our nexus snapshot repo and then pulled it into our pipeline plugin

Everything looks good!

**dep on our plugin**
![screenshot_20181117_093644](https://user-images.githubusercontent.com/439440/48662195-7f5cc380-ea4c-11e8-981b-0a2c2cab338c.png)

**jenkins stages**

![screenshot_20181117_094724](https://user-images.githubusercontent.com/43944

[2018-11-18 11:59] adamdubiel commented on #226
Yeah :) How about the amount of logging - not too much? Looks like you run it with `./gradlew -i`? If everything works, i will merge and release it as `1.10.0`.

[2018-11-18 13:29] k3mist commented on #226
Logging looked fine/normal. Yeah we run all tasks with `-i` on the build server

[2018-11-19 07:53] #226 closed

[2018-11-19 21:06] jawitthuhn opened #272 "Replacement for ScmPosition.onTag?"
We're running an older version (1.4.1) and are looking at how we might upgrade to the latest. One issue that we are running into is that 1.4.1 contained a field in the ScmPosition class called "onTag", and that field appears to have disappeared.

We are using configuration like this:
[code]

However, starting with 1.5.0, the "onTag" boolean field no longer exists as part of ScmPosition. Is there a

[2018-11-19 21:49] adamdubiel commented on #272
Let me try to investigate why it disappeared.

[2018-11-22 13:05] cliffred opened #273 "forceSnapshot results in wrong version number for initial version"
Given a project that has never been released yet (no release tags), using the Axion defaults, the following happens:

[code]

[code]

After the first release everything is fine.

[2018-11-22 14:48] adamdubiel commented on #273
Force snapshot strikes again :) So many corner cases. I will take a look.

[2018-11-22 20:47] adamdubiel commented on #226
I just released `1.10.0` version.

[2018-11-22 20:48] adamdubiel commented on #270
I just published `1.10.0` version - can you try it out?

[2018-11-27 15:23] jawitthuhn commented on #272
Were you able to find out why? I was able to locate the commit, but it was some time ago and I'm less familiar with the discussion around it.

Newer versions have a different bug fix that we will need to continue using the plug-in, but we are trying to determine if there is a safe way that we can upgrade this.

[2018-11-28 11:11] RezPhantom opened #275 "Cannot run simple shell script on Windows"
I ran into this problem when running shell commands in my Jenkins on windows. I thought it might just be me writing bad code, so then I tried testing a simple shell command in a new job. Either I forgot to add something to run shell commands in Jenkins or we have a problem. I also tried using cygwin and turning on the windows feature : Windows Subsystem for Linux

[error.txt](https://github.com/al

[2018-11-28 11:50] adamdubiel commented on #275
I think you created this issue in wrong project, this is not Jenkins :) Closing.

[2018-11-28 11:50] #275 closed

[2018-11-30 12:48] rbrindl opened #276 "Documentation of markNextVersion task"
docs/cnofiguration/next_version.md:33 uses a task `nextVersion` that does not exist, using a property name that is not used `incrementer=incrementMinor`

[2018-11-30 12:53] rbrindl commented on #153
It looks like this problem has been resolved, everything works as expected.

[2018-11-30 12:55] #153 closed

[2018-11-30 12:56] adamdubiel commented on #276
Can you open PR in this repo, not in your fork? :)

[2018-11-30 13:12] #276 closed

[2018-12-03 18:59] k3mist commented on #226
I was on vaca and now just getting a chance to respond.

Thanks so much for this @adamdubiel !!

[2018-12-04 22:14] edgarvonk commented on #226
Hi @adamdubiel, thanks for the work! But I'm afraid it seems I am still getting the very same error also when using version `1.10.0`.

[2018-12-05 08:37] adamdubiel commented on #226
@edgarvonk do you mind creating a new issue for this? I don't know what is the error :)

[2018-12-06 00:03] EarthCitizen opened #278 "Possible to Do Non-Semantic Version?"
I have a project that cannot use semantic versioning. I am a strong proponent of semantic versioning, but this particular project has some special circumstances for which semantic versioning is simply not a good fit.

Is it possible to configure this plugin in a way that will allow me to use custom versioning format?

[2018-12-06 03:39] EarthCitizen opened #279 "v1.10.0 - Correct Version Not Being Calculated"
axion-release-plugin: 1.10.0
Gradle: 4.10.2

Configuration:
[code]
When executing the steps (below), as shown in the documentation (https://axion-release-plugin.readthedocs.io/en/latest/configuration/next_version/), the current version does not increment. Unlike the docs, the version stays the same.

[code]

[2018-12-06 09:21] adamdubiel commented on #278
I'm sorry, but internally version are parsed and handled using SemVer library, so it is not possible to parse anything that can't be described using some kind of SemVer magic. You might play around with custom decorators, to create version in format that you need out of SemVer version maybe? Or if you need non-semver tags, you can create custom serializers and deserializers?

[2018-12-06 18:59] EarthCitizen commented on #279
OK. Then I think clarification in the docs would resolve this.

[2018-12-07 07:10] adamdubiel commented on #279
I will keep this one open till I change the docs. Thanks!

[2018-12-12 15:47] CBrophy commented on #270
Hello! My team has also run into this error, and we've narrowed it down to a recent change to OpenSSH keygen https://www.openssh.com/txt/release-7.8

   instead of using OpenSSL's PEM format. The OpenSSH format,
   supported in OpenSSH releases since 2014 and described in the
   PROTOCOL.key file in the source distribution, offers substantially
   better protection against offline password guessin

[2018-12-12 18:06] hgaglani commented on #226
My team was able to figure out the issue is actually with the keys that are generated using OpenSSH versions after 7.8. If the key is generated using openssh7.4(like mine was) or openssl, the issue goes away. So whatever jgit is doing to load the key seems to be not supported.

[2018-12-13 08:06] adamdubiel commented on #270
Looks like a great clue - i will try to work on it.

[2018-12-13 22:33] jawitthuhn commented on #272
We made the decision that we could drop this custom "-RELEASE" suffix to allow us to upgrade, so I am closing this issue.

[2018-12-13 22:33] #272 closed

[2019-03-05 13:35] ziscloud opened #283 "readVersion on HookContext casts DecoratedVersion to String"
@adamdubiel In the document, users should get the same output as the currentVersion task, but actually it is not. there is another issue #207 talks about this issue, but it has been closed.

<img width="871" alt="image" src="https://user-images.githubusercontent.com/4755266/53808648-cafc9400-3f8d-11e9-9d41-ee148fa11be6.png">

In my scenario, I need the `currentVersion` output to update my gradle.p

[2019-03-07 12:08] adamdubiel commented on #283
Hi! I closed the other issue since there was no response. I should rething the problem, but wanted to let you know that i noteiced the issue :)

[2019-03-16 15:41] stewartbryson opened #284 "Question about latest release (latest tag)"
I have a simple requirement, and already use this plugin for releasing, so was curious if this plugin could handle it.

For smoke testing purposes I have with a Gradle project, I need to easily pull the latest release version number so I can run some integration tests and compare with the last release. I am guessing there is a method in here somewhere that I can use... but I haven't found it yet.

[2019-03-18 06:52] adamdubiel commented on #284
Hi :) I don't think i understand the question, what do you mean by "easiily pill the latest release version"? What is the "last release"? Is all happening inside Gradle script and you want to access some methods from `scmVersion`?

[2019-03-18 12:35] stewartbryson commented on #284
Sorry... I just want to get a String containing the most recent tag. Similar to `git describe` but without all commit distance extras.

[2019-03-18 13:28] adamdubiel commented on #284
Currently there is no API that would get you exactly the tag, but `scmVersion.getScmPosition` returns [VersionScmPosition](https://github.com/allegro/axion-release-plugin/blob/master/src/main/groovy/pl/allegro/tech/build/axion/release/domain/VersionScmPosition.groovy).

[2019-03-25 04:59] vladimirfx opened #285 "Consider migration from Groovy Closure to Gradle Action API to be Kotlin DSL frendly"
As now all plugin configuration callbacks is Goovy Closure. It would be nice refactor it to Action.
Currently Kotlin DSL configuration is ugly because of use Kotlin to Groovy Closure adapters:
`
scmVersion {
    ignoreUncommittedChanges = false
    useHighestVersion = true

    tag(closureOf<TagNameSerializationConfig> {
        prefix = project.name
    })

    versionIncrementer("incrementMinor"

[2019-03-25 12:13] adamdubiel commented on #285
I know this plugin falls behind current standards in writing Gradle plugins. I have a separate branch in which I slowly move to Java from Groovy. Next step would be to write e2e tests with Kotlin DSL and then start swiitching to new Gradle APIs. However there is no estimated date for this, depends on the amount of free time :)

[2019-03-25 17:45] reddynr commented on #109
Hi , Iam executing  a program using ProcessBuilder and throwing below error
java.io.IOException: Cannot run program "zip": CreateProcess error=2, The system cannot find the file specified
Steps :
String srcPath = tempFile.getAbsolutePath();
			String destPath = reportsFile.getAbsolutePath();
			System.out.println("srcPath:"+srcPath+"  destPath :"+destPath);
			ProcessBuilder builder = new ProcessB

[2019-03-26 07:33] adamdubiel commented on #109
Hi, is it axion-release related? Looks like you are trying to run `zip`..

[2019-03-28 11:48] krzysiekbielicki opened #286 "Transition from version to rc version"
incrementPrerelease should work like snapshot versions - increment patch and add -rc1 in case of no previous prerelease.

[code]

[2019-03-28 15:47] adamdubiel commented on #286
I left a comment in PR. I think this would introduce breaking change - i would rahter see new incrementer instead.

[2019-04-03 13:09] grzegorzwitkowski commented on #286
hi guys, it doesn't work for me in 1.10.0
having a project with single release tag 0.1.1 and calling
[code]

still produces 0.1.1 but as I understand it should be 0.1.1-rc1 right?

my config

[code]

[2019-04-03 16:55] adamdubiel commented on #286
Try `1.10.1`, it wasn't release in`1.10.0` :) I just published it.

[2019-04-03 16:56] #286 closed

[2019-04-04 06:27] grzegorzwitkowski commented on #286
Big thanks, now it works. That's great, I was already afraid I would have to switch to something more reliable from PHP world [;)](https://allegro.tech/2019/04/from-php-to-java-and-back-again.html)

[2019-04-04 08:16] adamdubiel commented on #286
Give us some more time to build the essential tooling ;)

[2019-04-17 21:55] zman0900 opened #289 "Use configuration avoidance API when creating tasks"
Tasks are currently created eagerly with `project.tasks.create(...)`.  They could instead be created using the recommend "configuration avoidance" API with `project.tasks.register(...)`.

https://docs.gradle.org/current/userguide/task_configuration_avoidance.html

[2019-04-18 06:22] adamdubiel commented on #289
Hi, I am aware that this plugin does not use all the latest bells and whistles that came with Gradle 4 and 5 :) This is simply a matter of lack of time for me. Thanks for pointing to this mechanism, I will keep it in mind in the future.

[2019-04-30 08:59] grzegorzwitkowski opened #290 "markNextVersion doesn't work with incrementPrerelease"
Hi! I have a simple project with axion set up:
[code]

I have a `master` branch with `init` commit which is released as `release-0.1.0`. Then I created a new branch from master called `rc/feature`, added a new commit `feature 1` and run:
[code]

I expected that running `./gradlew currentVersion` will produce `release-1.0.0-rc1-SNAPSHOT` but it gives `1.0.0-SNAPSHOT`.

[2019-05-08 14:32] sradi opened #291 "Support multiple Gradle builds in one repository (monorepo)"
Hi,

in my use case, I would like to use axion release plugin for several independent gradle builds in the same repository. On Jenkins I am using a composite build, that kicks off all the separate builds in the same pipeline.
Currently, I configured different prefixes to have distinct version tags for each project.

The problem is, that a new commit with changes in one of the projects also results

[2019-05-08 14:44] adamdubiel commented on #291
Yes, we could include this feature. Couple of things that you might want to watch out for:

* with monorepo, performance might be degraded as commit history grows - the less frequently updated dir is, the more commits you have to dig out from the history to find last tag
* it would be great t split the change into two PRs - first one introducing an interface to replace `isHead` with (with single i

[2019-05-08 21:12] neilyalowitz commented on #262
I'm using a directory structure with a global configuration following the documentation examples.  Axion *almost* worked for this use case but it did require some small changes.  The changes enable the user to pass command line flags to skip certain Axion verification steps.  This allows tagging to proceed when a) module is on HEAD and when b) there is no snapshot detected (those conditions would

[2019-05-09 08:05] adamdubiel commented on #262
I think I'm missing something to understand what you want to achieve. What I don't understand is why do you need separate versions per module. Maybe you can have single version for the project?

To better illustrate what I mean and how I see your project based on info you gave:

[code]

Since you keep versions in sync on every release, the structure looks probably bit more like:

[code]

Or in cas

[2019-05-09 16:42] neilyalowitz commented on #262
Sorry, let me correct the example layout.  For my case there is a root project module which contains multiple submodules.  For most releases the root project module does not need to change.

[code]

We considered a workaround similar to your suggestion... when we wanted to release, we could commit a change to myRootProject and apply that version to all subprojects.  However this process wasn't att

[2019-05-16 11:56] grzegorzwitkowski opened #293 "versionWithBranch version creator doesn't work with incrementPrerelease"
Hi

I have a simple project with axion:

[code]

While being on `rc/feature` there is a mismatch between currentVersion and released version:

[code]

So released version doesn't have branch suffix. It results in different tag and artefact version in Nexus.

[2019-05-21 08:17] adamdubiel commented on #293
Hmm :D Okay, this is a corner case, but yeah, I see why it occurs - clash between branch name and rc- suffix. Because `/` in branch name gets sanitised and changed to `rc-feature`, which is later passed to incrementer. This might be quite easy to fix.

[2019-05-23 08:07] edgarvonk commented on #226
Aha, yes, @hgaglani that seems to be the issue.. We downgraded back to 1.8.1 and with that also the new SSH keys work. I believe this is now being tackled in https://github.com/allegro/axion-release-plugin/issues/270 right @adamdubiel ?

[2019-06-03 14:39] toniedzwiedz commented on #101
Not sure this is related but I am really struggling with getting Axion to work with my SSH key. I have a passphrase set up and I'm running Cmder with `ssh-agent` active. SSH, Git, scp and friends work just fine. I'm prompted for a passphrase as the terminal starts, then it's smooth sailing.

But it is not so with Axion. I'm trying to perform a release and I keep getting the following stack trace:

[2019-06-13 17:23] #262 closed

[2019-06-20 01:00] hatavan83 commented on #157
Hi @adamdubiel @vbuell could you please add more doc about pre-release in command line
I try it but not work
[code]

[2019-06-20 07:14] hatavan83 opened #294 "Get SNAPSHOT version from release tag"
Hi all,
I try to release a tag and then check out this tag by Drone CI to build/deploy the release tag, but the current version is return wirh SNAPSHOT, could you please give me more idea
[code]

[2019-06-20 11:55] agusmba commented on #294
I'm answering from memory (it's been ages since I used the plugin daily) but I seem to recall that it's due to not being on a branch.
It should be easy to test by creating an ad-hoc branch on that commit/tag and checking that out before using `gradlew cV`

(sorry if that's not the cause)

[2019-06-20 12:06] hatavan83 commented on #294
I just add 1 more step as `git fetch --all` to resolve version in tag
I have another issue with `initialVersion=0.0.1`
[code]
When I tag release `v0.0.1` on `production` branch success on CI
I checkout master branch and do some commit, but the version is always `0.0.1-SNAPSHOT`
[code]

[2019-06-20 12:10] agusmba commented on #294
If you tag on master and then commit something else, the `-SNAPSHOT` would be normal.

[2019-06-20 14:00] hatavan83 commented on #294
@agusmba
the SNAPSHOT should be +1, but it is the same release tag, so that I think it is not valid :(

[2019-06-20 15:04] hatavan83 commented on #157
Hi @szpak
Do you use `prerelease` successfully or not ? Could you please give me some guidelines if it is OK :)

[2019-06-25 10:32] hatavan83 commented on #294
@adamdubiel @agusmba
When I release on CI by command `gradle release -Prelease.disableChecks -Prelease.pushTagsOnly` with `production` branch,  the current version will not correct on `master` branch as above. I think it is a bug? Do you have any workaround for this case?

[2019-06-25 11:52] adamdubiel commented on #294
@hatavan83 from what I understand the situation looks like:

* tag `0.1.0` is created on `production` branch
* you checkout `master` branch and still get initial version (`0.0.1`)

The thing is that axion-release looks for tags in accordance to Git history. `0.1.0` tag exists in history only on `production` branch and probably not on `master` ([also see docs](https://axion-release-plugin.readthedo

[2019-06-26 08:38] #294 closed

[2019-07-08 14:28] jpt1971 opened #295 "Current version not detecting a release"
When trying to use axion-release in very basic manner we are not seeing the version number being incremented correctly. The tag is created and saved to git without issue, but the call to currentVersion refuses to budge from 0.1.0-SNAPSHOT when run in Jenkins. Our config in Java for this is:

[code]

Our Jenkins job is issuing these commands:

[code]

Sample run:

[code]

Not sure if it is due to b

[2019-07-09 07:12] agusmba commented on #295
it seems there are no tags initially. Are you doing a proper clone in jenkins? (shallow clones might not work as expected with axion-release-plugin)

[2019-07-09 07:55] jpt1971 commented on #295
hi, the jenkins job is not setup to do a shallow clone, i have the 'fetch tags' advanced option enabled at present. The git tag commands i have in the flow shows that tags are present at the start of the process (the original post i made was from a clean start', below is the result of a second run of the Jenkins job.

The second currentVersion should be 0.1.0 shouldn't it? The tags are present loc

[2019-07-09 08:52] agusmba commented on #295
I assume "theName" in your config is actually "euesd-gpp-api-client", isn't it?

[2019-07-09 09:16] jpt1971 commented on #295
yes thats correct, its a constant set in the gradle.properties file

[2019-07-09 09:20] adamdubiel commented on #295
Just to clarify - when running on local machine, everything works as expected? Or you observe the same issues?

Current version right after release should display `0.1.0`, and I see `-SNAPSHOT` there.

[2019-07-09 09:28] jpt1971 commented on #295
i could not get release to work at all locally (windows 10), due to issues with 'org.eclipse.jgit.api.errors.TransportException:' which on jenkins we don't get as we have a ssh host running so i did not pursue hte local issue much. But if i pull the latest and run currentVersion i get:

[code]

i will see if a colleague is able to run release locally just to see.

[2019-07-09 09:31] adamdubiel commented on #295
I don't need the release job to run :) Just tags and current version. From what I see, tags are not detected on localhost as well. This simplifies things a lot, as debugging on localhost is way easier :)

Just to start investigating, can you hardcode the prefix in your `build.gradle`?

Expected outcome on localhost is:

[code]

[2019-07-09 09:35] jpt1971 commented on #295
sure thing, i swapped my build.gradle to contain:

[code]

and the result is the same:

[code]

[2019-07-09 09:50] jpt1971 commented on #295
oh hey!

on a whim i moved the scmVersion block in the build.gradle file to the top (well just after the plugin section) instead of being near the bottom and now it all seems to work.
[code]

[2019-07-09 09:52] jpt1971 commented on #295
not sure why this would have fixed it, maybe i am using some dependency which is conflicting, am happy to send you my full build.gradle file if its of interest. But atm it all seems happy, thanks so much for you help, is much appreciated.

[2019-07-09 10:06] adamdubiel commented on #295
Great! I wanted to suggest it, but in your first comment you published:

[code]

and so I though everything was in place. This is a known caveat, actually it is also described in the docs, but it does not mention the place in `build.gradle`, only the order of `scmVersion` and `project.version` :) If something accesses version before `scmVersion` block, defaults are used. I know that in newer versi

[2019-07-09 10:07] #295 closed

[2019-07-18 19:03] hugares opened #296 "Support getting credentials from .netrc (or _netrc for Windows)"
For SSH, if no authorization option is specified, the plugin will try to fetch authorization options from SSH agent.

Could the plugin do the same for HTTP and try to fetch the authorization if no options are specified, i.e. from netrc file.

[2019-07-22 09:03] #296 closed

[2019-07-22 09:18] adamdubiel commented on #296
Released as 1.10.2 :)

[2019-07-22 12:07] hugares commented on #296
Thank you for the release!

[2019-07-23 20:09] ppeg34 commented on #270
Thanks, @CBrophy, for this lead.

[2019-07-30 10:59] flitzie opened #298 "createReleaseCommit creates always 3 empty commits"
Hello,

strangely when using "createReleaseCommit true" axion always creates 3 empty commits and only the last commit is tagged. I would have expected only one empty commit.

I'm using a multi-project in Gradle and have configured axion with:
allprojects {
   project.version = scmVersion.version

Thank you for your reply.
Best wishes

[2019-07-30 12:52] adamdubiel commented on #298
Hmm do you have 3 modules in your project? Could it be that the task is called for each module, instead for root only? Did you configure your project as desired here: https://axion-release-plugin.readthedocs.io/en/latest/configuration/basic_usage/#multi-module-project ?

[2019-08-06 20:28] gaglanihetal opened #299 "IAM Instance Roles not honored when running release command"
We have a Jenkins worker on an EC2 instance working with IAM role with all necessary permissions to pull/push using git to codecommit. When we execute straight up git pull/push commands from the instance via jenkins, it works perfectly fine, but when using the plugin via ./gradlew release (which uses jgit), it fails with the below error.

Task :release FAILED
Creating tag: 1.1.36
Pushing all to re

[2019-08-08 12:32] adamdubiel commented on #299
I did a quick research and:

* this is not `axion-release` problem per se, but rather jgit
* I currently see no workaround for `jgit`, but maybe a more through search would reveal some results?

From the looks of it (I never used code commit) there is a special git extension provided by AWS to sort those things out. I have no idea if it would be possible to use it with `jgit`. However I would grea

[2019-08-08 13:10] hgaglani commented on #299
Plugin uses JGit internally to issue git command which only works with
Simple username/password git credentials by design as its a simple Java
wrapper around Git. For sophisticated use cases i.e. extracting credentials
from instance profiles, the jgit suggests extending as per needs.

https://github.com/eclipse/jgit/blob/master/org.eclipse.jgit/src/org/eclipse/jgit/transport/CredentialsProvider.ja

[2019-08-09 07:19] adamdubiel commented on #299
Oh, great, thanks for finding out that Spring actually did it already.

It is possible that we incorporated this into `axion-release` (borrow code with all license etc etc from Spring) and require AWS SDK as an optional dependency. Would you like to create a PR?

[2019-08-09 10:51] hgaglani commented on #299
Awesome that sounds great!! I can create a PR with the same level of
details as I put into this ticket.

Thanks so much for the support.

On Fri, Aug 9, 2019, 2:19 AM Adam Dubiel <notifications@github.com> wrote:

[2019-08-14 07:51] edio commented on #249
Hi. I'm reopening this issue because I've found a use case where autodetection of the `.git/` directory is a valid use-case and codebase complication is justified (to my belief).

If a project with axion-release plugin is cloned as a _git submodule_, the plugin will fail to detect `.git/` correctly. Setting it explicitly the way you offered before is not an option as we can't possibly know, how ex

[2019-10-02 00:38] dougmaitelli commented on #270
Any updates on this?

[2019-10-02 06:48] Xawery94 commented on #270
The problems occurs because ssh-agent has no identities. You need to add this after generating your ssh key. You can do this by

`ssh-add`

After that you can check if ssh-agent now has identities by

`ssh-agent -l`

After that process all should be good, it worked for me :)

[2019-10-10 08:24] bickerx2 opened #300 "Enable PDF or downloadable docs on RTD"
When travelling and working in areas with limited connectivity. It would be useful if there was a downloadable version of the docs from readthedocs.

[2019-10-11 17:41] adamdubiel commented on #300
Unfortunately it's impossible, as `axion-release` docs are built using MkDocs and PDF outputs [are not supported](https://docs.readthedocs.io/en/stable/builds.html?highlight=pdf%20mkdocs#mkdocs).

[2019-10-11 17:41] #300 closed

[2019-10-11 18:08] bickerx2 commented on #300
Given the seccond comment in https://github.com/readthedocs/readthedocs.org/issues/1939

Would making a zip format be possible?

[2019-10-12 06:58] gaffarhaju commented on #109
Hi All,
I am getting the below error though the sfdx is recognized.

Error: Cannot run program "sfdx" (in directory "temp\a0h0R000004ZE8XQAW1570862706141DsyVHivd\project"): CreateProcess error=2, The system cannot find the file specified.

Tried to uninstall/reinstall Salesforce CLI and added to Path env variable also, but still it gives the same error. Would someone pls help on this?

[2019-10-12 06:59] gaffarhaju commented on #109
Example code that I used:
ProcessBuilder processBuilder = new ProcessBuilder("sfdx", "force:auth:logout", "--targetusername", getAlias(), "--noprompt", "--json");

        String responseJsonString = processBuilderRunner.run(processBuilder, workingDirectory);

[2019-10-22 15:14] greenjoe opened #301 "Release tag ignoring versionCreator"
Hello! I would like to release versions from branch that contain the branch name, but for some reason tags created by release task do not have the decoration.

[code]

My configuration is

[code]

I would like the tag to contain `mybranch` too. Is there a way to make it work?

[2019-10-22 16:32] adamdubiel commented on #301
This is by design. Branch name is added in "decoration" phase, meaning it is never persisted. Otherwise after you merge branch back to master, what would be the version?

[code]

Is `release-1.0.1-my-branch` more important than `release-1.0.0`? Or `release-1.0.0`, because it was created from master, not branch?

Version numbers / tags are "global", they exist outside the scope of branches.

[2019-10-22 16:37] greenjoe commented on #301
Thank you, that makes sense

[2019-10-22 16:37] #301 closed

[2019-10-25 08:35] jjarmolowicz opened #302 "com.github.zafarkhaja.semver.UnexpectedCharacterException (no error message)"
Hi

I encountered following issue:
* Where:
Build file 'build.gradle' line: 86

* What went wrong:
A problem occurred evaluating root project 'transformation-platform'.

After a moment of investigation i found out that it was because my initial version was not compliant with scmVersion standard (I'm using initial version because I'm putting that for already existing project).
Anyway it would be mo

[2019-10-25 11:02] jjarmolowicz commented on #302
id 'pl.allegro.tech.build.axion-release' version '1.10.2'

[2019-11-04 14:16] flitzie commented on #298
Hi,
yes I had 3 modules indeed and yes I followed exactly your documentation.
But even using only one module I still got the same behaviour with Gradle 5.2.1 and Axion 1.10.0 and 1.10.2.

That's why I am using this workaround now:

`   hooks {`
`      pre 'fileUpdate', [file: 'gradle.properties', pattern: {v, c -> /^version=.*$/}, replacement: {v, c -> "version=$v"}]`
`      pre 'commit', {v, p ->

[2019-11-12 09:08] nikitsenka opened #303 "Custom prefix doesn't work"
Hello
When using custom prefix scmVersion.version always return
[code]
[code]
[code]

[2019-11-12 09:12] adamdubiel commented on #303
Can you post relevant portions of `build.gradle`? I wonder if `scmVersion.version` comes **after** `scmVersion` settings.

[2019-11-12 09:25] nikitsenka commented on #303
Indeed this is the reason, once i place it above it works:

[2019-11-12 09:32] adamdubiel commented on #303
Great :) It has to be configured this way, as all example as docs say.

[2019-11-12 09:32] #303 closed

[2019-11-12 09:35] nikitsenka commented on #303
Thanks for quick reply

[2019-11-12 19:19] nerderma commented on #206
I'm trying to figure out some of the inconsistencies with the SnapshotDependenciesChecker. Some of mine will be verified, but it seems like anything defined as constraints at the top level are verified either, similar to the dependency-management-plugin mentioned above I believe.

[2019-11-13 12:09] mrchass opened #304 "Tags always without branch name?"
When using VersionCreator "versionWithBranch" I would not only expect "currentVersion" command to return branch suffix on version but also "release" command to create an identical tag in git repository. But git tags only consists of the plain version (like with 'simple' version creation), no mattern from which branch it was called.
I minimized my config to exclude any sideeffects:
[code]
Is this d

[2019-11-13 12:22] mrchass commented on #304
Some more footage:
[code]
VS
[code]

[2019-11-13 12:22] adamdubiel commented on #304
Just like you stated, version decoration works only for output.

The way i see it, version works regardless of branch. Say you had `my-feature` branch and created a release. Then you merge this branch back to master. Would you want to have `release-1.0.0-my-feature` tag created even though the `my-feature` branch no longer exists?

[2019-11-13 13:17] mrchass commented on #304
I'd like to achieve unique version/build tags over multiple branches. The suffix should only be appended if not on master branch. If merged back to master it should have the "next" master branch's version without suffix.
Feature branch versions should start with the current master branch's version and will increment only on build index (via PreleaseVersionIncrementer).
Simple example:
`master` `1.

[2019-11-13 13:23] adamdubiel commented on #304
Decorators can help you achieve with regards to version output. However tags do not contain this information and currently there is no way to achieve it.

[2019-11-13 14:30] mrchass commented on #304
I was playing around with custom (de)serializers but I could not create a tag with appended branch name.
Would you name this difference between version output and tagging a feature? Otherwise I would try to find a way to allign this.

[2019-11-13 14:37] adamdubiel commented on #304
Yes, this is definitely a feature and "works as designed", not a problem or miscalculation. I would not want to change this behaviour, at least not by default (could be changed as a optional flag). However the logic behind parsing tags is already quite sophisticated and adding another element might be hard.

[2019-11-13 17:08] mrchass commented on #304
OK, to be honest, that is what I have been expected. ;-)
To be able to create at least my own decorated version it would be sufficient to only add the scm position as parameter for serializers, like for deserialisation. so it would be possible to include the branch name into the tag.
But I think for now I will help myself with a workaround. I will tag manually on feature branches and only do that

[2019-11-18 11:32] nikitsenka opened #306 "Remote tags not applied"
Once i created new release and pushed it to remote i want to be able to reuse this tag in other branches as well.
[code]
I'm expecting new tag to be v0.2.1
How can i do it?

[2019-11-18 11:34] adamdubiel commented on #306
Just merge contents of this branch with other branches. Since you want to have the same versions, you probably want to have the same code corresponding to those versions :)

[2019-11-18 11:44] nikitsenka commented on #306
Gradle build config:

[2019-11-18 11:54] adamdubiel commented on #306
axion-release following the structure of git, only knows about tags on given branch. so if you want git tags to be visible in other branches, you need to merge code from master to develop.

This IMO makes sense, because if you have tag for 1.1.0 on master and you would like to work on 1.1.1 on develop you probably want to have code from 1.1.0 on develop as well.

[2019-11-18 12:22] nikitsenka commented on #306
I was trying to avoid merge from master to develop.
As a workaround i'll always increase version from develop branch only and specify incrementer type as parameter

[2019-11-18 12:28] adamdubiel commented on #306
Sure, whatever suits your flow :)

However from my point of view having package which has higher version (like 1.1.1) but has no features of previous versions (1.1.0) feels off.

[2019-11-18 12:28] #306 closed

[2019-12-02 14:59] john-tipper commented on #291
@sradi, please may I ask how your monorepo is set up?  Is it a Gradle multi-module build, where each module has a configuration section like the below, or are you doing something different?:

[code]

Please can you explain how the release process works for the different projects within the monorepo?

/top-project
    build.gradle // top-level build.gradle
    settings.gradle // include project1 &

[2019-12-04 11:36] sradi commented on #291
Hi @john-tipper. Yes, I have configured a unique tag prefix for each build.
But the repository does not contain one Gradle multi-module build, but multiple separate Gradle builds (whether multi-module or not), which are combined as a composite build on root level.

My goal was, to have one job in ci, which executes the composite build, but to prevent every nested Gradle build from getting an incre

[2019-12-04 11:55] john-tipper commented on #291
Hi @sradi, thanks for the info, that's very helpful.  I've been working on your initial PR so I'll push some revised changes soon for you and @adamdubiel to take a look at.

If changes are made to the base project (your composite project) then I think the base version should change, but as you say the nested projects should not necessarily have their version incremented.  If a change is made to a

[2019-12-04 12:13] john-tipper commented on #291
Also, as part of this change, I think we should remove the restriction that prefixes cannot include a subset of another prefix.  It is not uncommon for child modules to share some initial characters and it would be great to be able to support a tag that is the module's name.  E.g. for my example, the tags in the repo might be `project1-`, `project2-` and perhaps `release-` for versioning of the ba

[2019-12-04 12:15] adamdubiel commented on #291
1) axion no longer. depends on GrGit :)
2) would be great to have separate PR which would focus only on removing the prefix restriction

[2019-12-04 14:24] john-tipper commented on #291
Hi @adamdubiel
1. I'm not sure on this, I can see reference to `org.ajoberstar.grgit.Grgit`, amongst others?
2. Sure, PR #307 submitted. I can see a Travis failure on installation of JDK 8, but I don't think how that can be me that broke it!

[2019-12-05 10:27] john-tipper opened #308 "All builds are failing on Travis"
Builds are currently failing on Travis with an error:

[code]

This is because Travis has migrated to Xenial from Trusty and OracleJDK8 is not supported on Xenial (https://travis-ci.community/t/install-of-oracle-jdk8-is-failing/4365/3).

To support eventual migration to higher versions of Java, we should migrate to OpenJDK.

[2019-12-05 10:39] john-tipper commented on #308
PR #309 created. @adamdubiel please would you mind taking a look at merging this when you get a chance?  All PR checks are erroneously being reported as failing because Travis changed their default build image.  When this is merged, we can rebase our existing PRs on master and we should be back to normal.

[2019-12-05 10:40] #308 closed

[2019-12-05 13:50] john-tipper commented on #291
@sradi, @adamdubiel I've updated Stefan's code to add tests and support to optionally allow the parent project version not to increment when a submodule's version is changed.  Details are in PR #310.

[2019-12-05 22:37] maniekq opened #311 "Add parameter to pass current branch name in case repo is in detached state"
This is feature request. I would like to know if adding this functionality makes sense or I am missing some existing possibilities.
Aim of this functionality would be to have additional parameter like `-Prelease.branchName` which would allow to override/set branch name read from Git (or not set in case repo is in detached state).

I will try to describe my use case.
I am using Azure DevOps Pipelin

[2019-12-16 18:42] maniekq commented on #311
@adamdubiel I would be interested in implementing this, but I would like to know if this makes sense from your perspective.

[2019-12-16 20:09] adamdubiel commented on #311
Yes, please do, i know dealing with CI/CD can be a pain so anything that makes it easier is welcome. It would be ideal if you described your Azure Pipelines setup in [docs](https://axion-release-plugin.readthedocs.io/en/latest/configuration/ci_servers/) as well :)

[2019-12-19 16:23] nerderma commented on #206
@adamdubiel Tagging you just to call this out again. I know this thread is old, but felt it contained useful background over creating a new issue.

[2019-12-20 07:03] kboom commented on #285
Great plugin guys, we're using it for a project for one of the world's biggest retailers. Would be indeed great to have this feature as we are 100% Gradle Kotlin DSL.

[2019-12-20 11:15] ghilainm commented on #206
I would also add that it does not work with Gradle rich versions like latest.release and latest.integration. The plugin (could) automatically lock the versions in such case. That would enforce fixed versions on release.

[2019-12-24 12:12] richardlund opened #312 "Base versionIncrementer type on commit message content?"
Hi,

I'm looking to use this plugin for a project and am considering using the content of commit messages to drive logic to decide which `versionIncrementer` to use. e.g. Commit message contains `[BUG FIX]` then use 'incrementPatch' etc. However, I thought that perhaps this might have been considered already by other folk. Are you aware of anything that might meet these requirements? Thanks in adv

[2019-12-31 14:51] kboom opened #314 "Follow the dependencies between the submodules during the release"
Maintaining separate versions for sub-projects is very useful but then releasing must be done with care - projects with internal dependencies need to be released manually one after the other - dependencies first. It would be great to:

1. Make the release task understand this and release the dependencies (if necessary) before attempting to release a selected module
2. Make the release task release

[2020-01-03 06:55] adamdubiel commented on #314
Looks like task dependencies problem, can't it be achieved using custom task in Gradle with specified dependencies?

[2020-01-04 20:21] adamdubiel opened #315 "Rewriting domain to Java"
`axion-release` was first written back in the days, when Gradle recommended writing plugins in Groovy and a lot of build ran on Java 1.6 or 1.7. This is no longer the case. Gradle recommends writing plugins in Java and Gradle does not support Java 1.7 for some time now. Bits of code in `axion-release` actually rely on Java 1.8.

After merging #310 , i would like to merge PR which moves most of the

[2020-01-04 20:24] adamdubiel commented on #315
Next steps include using new plugin APIs in Gradle like [lazy configuration API](https://docs.gradle.org/5.6.2/userguide/lazy_configuration.html).

This might force release of `axion-release` 2.0.0 version, if any breaking changes will be introduced.

[2020-01-06 15:56] realdadfish opened #316 "JGit sees non-existing changes"
My workspace is clean:

[code]

Still, when I execute the release command, the plugin / JGit tells me that there are many uncommitted changes:

[code]

This is on Cygwin / Bash, using Axion Plugin 1.10.3 with Git 2.21.0. How can I further track this issue down?

[2020-01-06 19:12] adamdubiel commented on #316
Could you create minimal project, just git repo and `build.gradle` with axion-release and see how it behaves? I'm trying to find out if its env or repo problem.

[2020-01-07 17:10] realdadfish commented on #316
@adamdubiel The problem persists, minimalist `build.gradle`:

[code]

Then, on `./gradlew release`:

[code]

while the workspace is clean. Sidenote: `.gradle/` is untracked and not ignored, still, JGit tracks it as added.

[2020-01-10 15:49] jonathanvalenciav commented on #109
@valfirst Thanks. Works for me.

[2020-01-13 16:10] richardlund commented on #312
I'm guessing that you don't have any advice regarding my question?

[2020-01-13 17:32] kamusissa opened #317 "Lightweight tags matching to version pattern cause NullPointerException"
Hi,

We tried to add axion-release-plugin to existing project but we encountered following problem:

* What went wrong: (plain error message without --debug --stacktrace)

* Stacktrace:
[code]

* Affected versions

* Code
[code]

After some checks I found that in our repository we already have few lightweight tags that match to version pattern used by the plugin:
[code]

It seems that lightweight

[2020-01-13 20:58] adamdubiel commented on #312
Hi, sorry i didn't reply earlier. We did consider similar behavior based on merged branches names.

This is not currently possible, but I think adding this kind of logic would not be too hard by extending `ScmPosition` object to contain all commit messages. Commit traversal to the latest tag is done anyway, so this should not be a major change. Would you be willing to code this feature with any ne

[2020-01-13 21:05] adamdubiel commented on #317
I never tried to use `axion-release` with lightweight tags, so it might be just as you describe it. All newly created tags are always annotated tags. Once the first tag in the tree is annotated tag, everything should be okay as long as you keep away from `useHighestVersion` option (which scans the whole tree, not just looks for the first tag encountered).

You are right clearer error msg should be

[2020-01-15 18:32] PAKalucki commented on #304
@mrchass I had similiar requirement and managed to achieve unique tags using timestamp as prefix:

[code]

Before that I tried setting branch name as prefix:
[code]

But it completely breaks all decorating when using versionCreator 'versionWithBranch'.

[2020-01-15 19:34] PAKalucki commented on #304
@mrchass I managed to achieve something similiar to what you tried:

[code]

I use Jenkins for builds which provides BRANCH_NAME by default but I image it's possible to do something similiar with all build servers.

[2020-01-23 10:04] BrassyPanache opened #319 "Warning about deprecated behaviour in Gradle 6.0.1"
I've just added the release plugin to my project.  Upon the initial run of the currentVersion task I receive this message:

[code]

[2020-01-24 13:07] adamdubiel commented on #319
Hi, I would like to cover all this with: https://github.com/allegro/axion-release-plugin/issues/315

[2020-01-24 14:02] krzykrucz opened #320 "versionWithBranch not working"
Hello, I use the default configuration of plugin and `versionWithBranch` strategy for versionCreator doesn't seem to add a branch name to the release name. I even tried it with a cl option `-Prelease.versionCreator=versionWithBranch`

My build.gradle.kt is as follows:
[code]

Am I doing anything incorrectly?

[2020-01-24 14:14] #311 closed

[2020-01-24 14:15] adamdubiel commented on #320
What do you mean by `release version`? Can you post the command along with expected and actual result?

[2020-01-24 14:31] krzykrucz commented on #320
Sure. First I do from a test->origin/test branch:
[code]
and then
[code]
, which outputs
[code]
According to docs, the version should be sth like `1.1.1-test-SNAPSHOT` imo.

Btw, this is a multimodule Kotlin project, where all modules are versioned together.

[2020-01-24 14:51] adamdubiel commented on #320
Ah, i see the problem.

[code]

You configure the plugin after it is used. Just change the order of those two lines:

[code]

And it should be fine. Once I move to lazy properties, this kind of problems shouldn't occur. TIll then, there is a big warning sign in docs ;)

[2020-01-24 15:16] krzykrucz commented on #320
Thanks! I must've missed that in the docs. It works now, I'm closing the issue.

[2020-01-24 15:16] #320 closed

[2020-01-25 17:03] gavlyukovskiy opened #322 "Version 1.11.0 fails on Windows"
I have multi-module project structure (https://github.com/gavlyukovskiy/spring-boot-data-source-decorator) and I tried to update to 1.11.0 today, but got exception during the build
[code]

looks like newly added check
[code]
is just breaking Windows builds and can be safely removed.

[2020-01-25 19:52] adamdubiel commented on #322
Oh boy, you are right. Let's ask @john-tipper why this check was included in first place?

[2020-01-25 20:41] john-tipper commented on #322
Not sure why that is there, I copied the code from the initial PR and I can see that check is there:
https://github.com/sradi/axion-release-plugin/blob/monorepo-support/src/main/groovy/pl/allegro/tech/build/axion/release/infrastructure/git/GitRepository.groovy#L204-L208
Perhaps @sradi can advise?

[2020-01-26 13:32] sradi commented on #322
I'm going to have a look. I haven't looked at the code for quite a while, so need to think myself into it again.
As a workaround, using slashes should work on windows as well.

[2020-01-26 20:09] #322 closed

[2020-01-26 20:12] adamdubiel commented on #322
I missed the fact, that it is run not only for monorepo (this would be kind of "fine", since it's a new feature), but that it also broke existing critical path. @sradi thanks for confirming, that it works on Windows without path check. I merged your PR and I will release new version (1.11.1) tomorrow.

[2020-01-27 06:54] kboom commented on #320
Perhaps a clear example like the one above would help? Red one to the left and green one to the right? Not sure how we missed that but we spent on it several hours :-)

[2020-01-27 08:53] sradi commented on #322
Sorry, I missed something yesterday. According to the docs, the JGit LogCommand only accepts '/' in the addPath() method: http://download.eclipse.org/jgit/site/5.6.0.201912101111-r/apidocs/index.html

[2020-01-27 09:32] john-tipper commented on #322
Can we not simply replace backslashes with a forward slash within the `path` variable inside `positionOfLastChangeIn()`?

[2020-01-27 12:00] john-tipper opened #325 "Need to be able to force increment a release"
With the new support for monorepos, there is an issue when a submodule depends on another module but there are no code changes within the dependent module, in that the dependent module does not have its version incremented.

For example, given a project with modules `mod_a` and `mod_b`, where both `mod_a` and `mod_b` are to be published as artifacts and also where `mod_b` is dependent on `project(

[2020-01-27 20:01] sradi commented on #325
Our setup currently doesn't have this issue, as our repository is split into independent builds, which don't reference each other and are only connected through a composite build configuration.

But in another build I have the requirement to build and publish only JARs of those modules, that actually changed. I think the key to achieve this is, to have all inputs of the jar task unchanged, so that

[2020-01-27 23:51] john-tipper commented on #325
I've gone through what the Java plugin does to resolve this and I think we can at least support incrementing the version across dependent modules.  Here's what I propose, covering this issue and #314 .

For this issue:

1. Add a check of a boolean `forceIncrementVersion` parameter within the `if` in [`Releaser`](https://github.com/allegro/axion-release-plugin/blob/master/src/main/java/pl/allegro/t

[2020-01-29 00:09] john-tipper commented on #325
I have managed to come up with a working implementation.  It differs in implementation somewhat from the description above, in that I discovered that the version incrementing is performed by `VersionFactory`, hence it needs to have a flag passed to it that indicates that the version should be incremented, even if there are no changes within that submodule.
The code is non-breaking and retains the

[2020-01-29 00:09] john-tipper commented on #314
I have addressed this issue in PR #326.

[2020-01-29 22:10] maniekq commented on #304
I came across this issue when looking for being able to produce version with branch name.
Finally I have decided to use custom tag serializer to solve my problem.

@mrchass It doesn't fully fit your case, but maybe would be enough.
We use tag serializer together with `useHighestVersion = true` and we are fine with having common versioning on all branches. That means unique versions throughout all

[2020-02-08 15:06] tmvlpl opened #327 "Alternative to SNAPSHOT for non release versions"
While marking non release version with SNAPSHOT is great for Java libs, there are other usecases where a generated "fixed develop prerelease version" is better suited.
What about an alternative mode to the SNAPSHOT suffix, that automatically appends a semantic version prerelease marker to the upcoming version? Something like 1.2.3-dev.4, where 4 is the number of commits since the last tag. The use

[2020-03-24 17:57] realdadfish opened #328 "Pin versions"
My use case might sound a little bizarre at first, but hear me on. I have a Gitlab CI pipeline that operates in different stages. All these stages do not share the same workspace, but start with a blank one - and a freshly cloned Git repo - by default. (Gitlab does not support shared workspaces.)

My workflow nonetheless should / must look like the following:

* `stage1`: createRelease
* `stage2..

[2020-03-26 16:37] lopesdasilva opened #329 "[Question] Increment build number using Conventional Commits messages"
Hi,

Thanks for the hard work on this plugin.

I'm currently trying to implement this plugin on our mono repo multi project.
However one of our requirements is to increment the builds using commit messages, following the conventional commits (https://www.conventionalcommits.org/en/v1.0.0/)
is this something that your plugin can support in any way?

Thanks

[2020-03-26 22:56] realdadfish commented on #329
The easiest "hack" I could think of would be to write a Gradle task that analyzes the HEAD commit of the checked out workspace. If it would find the information that it should create a release, this could trigger the `createRelease` or `release` Gradle task as a finalizer or dependOn dependency to your custom task. This would be a hack because this check would have to run during configuration time

[2020-03-31 08:15] mazdack opened #330 "SnapshotDependenciesChecker fails for multi module project"
For example you have 2 modules: api and server.
Server uses api module like this `implementation(project(":api"))`
Then the snapshot check fails:
`> The project uses snapshot versions - can't release. Snapshots found`

I think there should be possibility to ignore some dependencies.

[2020-04-01 09:13] lopesdasilva commented on #329
Hi @realdadfish, thanks for your answer.
That gave me an idea.

after reading the documentation I created the following:

plugin configuration:

`scmVersion {
    tag {
        prefix = 'b2x'
        versionSeparator = '@'
    }
    monorepos {
        projectDirs = project.subprojects.collect({ p -> p.name })
    }
    branchVersionIncrementer = [
            "master": { c -> shouldIncrement(c) }

[2020-04-01 10:39] realdadfish commented on #329
Don't know about the second issue, but the first issue can be solved by using the tools at hand:

[code]

`currentVersion` will then be the version without `-SNAPSHOT` applied to it.

[2020-04-02 13:09] lopesdasilva commented on #329
Where should this code go?

[2020-04-02 15:26] realdadfish commented on #329
I've wrote a custom Gradle plugin that internally applies the axion plugin and has custom tasks. You can put this into a `doLast {}` block of your current task (convert to Groovy, of course).

[2020-04-04 15:32] eschizoid commented on #270
I am still experiencing this problem using version `1.11.0` and even after converting my ssh key to PEM format

[2020-04-08 13:38] Kindrat commented on #330
Same here. All project() dependencies are breaking release.

[2020-04-24 15:37] ddietterich commented on #270
Any updates on this?

[2020-04-25 08:19] JozoVilcek opened #332 "CurrentVersion is immediately SNAPSHOT after release"
Hi, I have a git repository, monorepo, hosting many independent projects. Each projects pulls in `axion-release-plugin` configures is prefixTag and does it's own release cycles.

The release process is essentialy 1.) check the build, 2) release, 3) build deployable artifact for released version. This process relies on the fact that if `cV` is e.g. `1.0.1-SNAPSHOT` then right after release it will

[2020-05-04 09:56] Farix1337 commented on #270
I fixed the the problem for windows 10 by using the git bash and ensuring that the ssh-agent is automatically running as described in: https://help.github.com/en/github/authenticating-to-github/working-with-ssh-key-passphrases#auto-launching-ssh-agent-on-git-for-windows

[2020-05-06 11:41] sradi commented on #332
I am having that issue, too.

[2020-05-06 13:35] sradi commented on #332
After short analysis it seems, that the attribute `projectDirs` of the monorepos configuration is empty, when the currentVersion task is executed.
If it was set correctly, the `lastChangePosition` would probably be calculated correctly, so that the resulting value of `onCommitWithLatestChange` would  be `true`, as expected.

[2020-05-06 13:58] sradi commented on #332
@john-tipper would you mind, having a look?

[2020-05-07 15:27] Farix1337 opened #333 "1.11.0: Add Exception for an empty nextVersion suffix"
i could not find a reason why my gradle release task won't increment the version number, but tries instead to set the same version again.
After some debugging i discovered that an empty next version suffix like:

[code]

will result in a isNextVersion=true in VersionSorter.groovy an the versionIncrement will not be called: https://github.com/allegro/axion-release-plugin/blob/7202376bba5549a2ac7597

[2020-05-15 08:52] realdadfish commented on #315
You eventually might to look into Kotlin, which is code-wise more nearby to Groovy than Java is. I've written a couple of Gradle plugins with Kotlin already and it works quite well.

[2020-05-15 08:59] realdadfish opened #334 "JGit: Crash on UTF-8 characters in branch name"
When my repository contains branch names with UTF-8 characters in it, the release task fails with

[code]

I suspect this is a JGit problem, eventually https://bugs.eclipse.org/bugs/show_bug.cgi?id=547400?

[2020-05-25 09:13] v-akimov opened #335 "Sorting with useHighestVersion=true"
Sorting needs to be changed when useHigestVersion is set to true. Currently alphabetical sorting is used, so having 1.0.1 and 1.0.10 versions will result in incorrect current version resolution

[2020-05-28 12:41] wyhasany opened #336 "Low performance while retrieving current version"
I've noticed performance problems with axion plugin on big repo. Retrieving `currentVersion` takes even 9s. To mitigate issue I've created that repo:
https://github.com/wyhasany/axion-performance

That happens only after first fetch of repo, below you can real-life example:
![image](https://user-images.githubusercontent.com/317662/83142722-2b2aa900-a0f1-11ea-8480-e6eecb11dbf4.png)

[2020-05-29 10:56] miikeat commented on #157
As far as i understand, you agreed in 2016 how the Prerelease and finalization should be handled but then in never got implemented!?!? is that so?
Is ther any other Solution to that Problem?

[2020-05-30 17:25] adamdubiel commented on #335
Can you create a test in `VersionSorterTest` class that would reproduce this behaviour? As far as I can tell `Version` object comparison is used, which understands semver.

[2020-05-30 17:47] #333 closed

[2020-05-31 07:27] v-akimov commented on #335
Sorry my initial description is incorrect. It only happens when it comes to pre release version resolution. Here is a test that I made for it.

[code]

[2020-05-31 07:33] adamdubiel commented on #334
I bumped JGit to `5.7.x` in `1.12.0` version, maybe the fix is in there?

[2020-05-31 08:17] adamdubiel commented on #332
I suspect that this could have something to do with the way plugin is initialized. If `dirsToExclude` is set using some gradle `project.projectDir` and is empty for `currentVersion`, then it might be because of how `scmVersion` being eager (not lazy).

I know that Gradle introduced mechanisms for lazy loading of properties some time ago, meaning `project.version = scmVersion.version` could be eval

[2020-05-31 21:07] stefan-rademacher-tk commented on #332
Not sure, if it's possible to access `scmVersion.version` lazily, since...
1. ...Gradle needs to know the actual value of `project.version` during the configuration phase.
2. ...lazy configuration (afaik) works for task implementations only, which `VersionConfig.getVersion()` is not. (Custom) tasks with lazy properties can evaluate the actual value of an extension property during execution time, a

[2020-05-31 21:10] sradi commented on #332
Not sure, if it's possible to access `scmVersion.version` lazily, since...
1. ...Gradle needs to know the actual value of `project.version` during the configuration phase.
2. ...lazy configuration (afaik) works for task implementations only, which `VersionConfig.getVersion()` is not. (Custom) tasks with lazy properties can evaluate the actual value of an extension property during execution time, a

[2020-06-01 07:16] wyhasany commented on #336
This issue is unrelated to axion-release-plugin. Actually most of that time takes fetching gradle libraries.

[2020-06-01 07:16] #336 closed

[2020-06-02 06:10] adamdubiel commented on #332
Uh, I was hoping to make it lazy, but didn't start playing with it yet. Thanks for the info! I will try to experiment anyways, but with less hope :)

[2020-06-09 12:23] sradi commented on #332
Hi @adamdubiel - could you already find out more about the cause of this issue?

[2020-06-09 12:46] bipin-yadav-by opened #339 "Getting NPE on creating release-version with 1.120 but working with 1.11.0"
When Running the gradle task
gradlew release -Prelease.disableChecks -Prelease.pushTagsOnly
getting the NPE.

 Attached the stack trace for reference.

[2020-06-10 08:11] KrystianOcado commented on #339
Hi!

We get the same exception with 1.12.0, 1.11.0 is working:

[code]

[2020-06-10 08:23] adamdubiel commented on #339
Thanks for reporting, cloud you share your `scmVersion` configuration from `build.gradle`?

[2020-06-11 23:28] eb-enzo commented on #339
Hi! I'm seeing the same issue. My scmVersion config is:

`scmVersion {
    tag {
        prefix = ''
    }
    repository {
        directory = project.rootProject.file('../')
    }
}`

[2020-06-12 04:17] bipin-yadav-by commented on #339
plugins {
    id axion-***
}

scmVersion {
    ignoreUncommittedChanges false
    versionIncrementer 'incrementMinor'

    // Injected from github secret
    repository.customUsername = System.getenv('RELEASE_USER')
    repository.customPassword = System.getenv('RELEASE_TOKEN')

}

allprojects {
    repositories {
        maven {
            url "${artifactory_url}"
            credentials {

[2020-06-12 10:11] jwermuth opened #340 "Find next release version globally"
Thanks for a nice plugin 8)

I have a use case, where I need to consider versions in all branches and find the largest amongst them all. Given the git tree below:
[code]
with the current functionality of axion, when i release at master, i get a conflict, because the next version seen from master perspective will be 0.4.15 which is already a tag.

Does anyone see a way to configure the current axio

[2020-06-12 16:16] adamdubiel commented on #340
Hi :) Current implementation works on current branch only on purpose. I never considered doing all-branch scan and so don't know if its possible.

However if you would like to explore this direction, I would start with:

* finding git command that would print all the tags that you need
* finding how to implement / call the same command in JGit
* note: it might not work on CI/CD, since they try to

[2020-06-19 20:57] KJoyner commented on #327
I achieved this a bit different. It required me adding capability to excludeSnapshot (opposite of forceSnapshot). I was trying to achieve a version that looked like major.minor.patch.buildNum when buildNum was defined (which we defined when building on Jenkins). If there is interest in adding this capability, I can provide a PR.

With the excludeSnapshot option in place, I added the following to m

[2020-06-22 07:43] jwermuth commented on #340
Thanks. I am working on it. Found some of the way through. Wrote a little code and a test (which is currecntly red, as expected).

One thing - it seems the options to:
1 useHighestVersion
2 not useHighestVersion (default)
and the new i am suggesting
3 useGlobalVersion
are mutually excluding, meaning that they do not make sense in combination. Using the current settings model (a boolean, useHighest

[2020-06-22 10:25] cslee00 opened #341 "currentVersion not working [1.10.3 regression]"
When upgrading past 1.10.2 'currentVersion' fails to determine the correct version from the tags, as shown below.  Issue exists for 1.11.0 and 1.12.0 as well, introduced in 1.10.3.

1.10.2:
[code]

1.10.3: (changing plugin on same project - no other changes)
[code]

Configuration:
[code]

[2020-06-25 12:41] dlesniakdev commented on #330
@Kindrat is your change actually releasing `SNAPSHOT` dependencies? That would be cool, stuck on this one.

I have similar issue but instead of ignoring `SNAPSHOT`s I'd rather like to have possibility to release them to full version. It's because I'd like to run `./gradlew release` on whole multiproject instead of on concrete modules in proper order.

[2020-06-26 12:16] Kindrat commented on #330
@dlesniakdev yeah, that was for snapshot release. All external deps are releases, while internal modules are snapshots.

[2020-06-27 10:36] jwermuth commented on #340
Hi @adamdubiel. I wrote some code in my clone, [on this branch](https://github.com/jwermuth/axion-release-plugin/tree/feature/useGlobalVersion). And a couple of tests. It seems to be working.

You are welcome to have a look and comment ?

I am still missing

1. add some more tests
2. adding integration tests
3. refactor the handling of Version Reading Strategies

Once that is done, and if you do n

[2020-06-28 18:21] JozoVilcek commented on #182
I believe I am also hit by this ... experiencing long configuration phase if doing `project.version = scmVersion.version`. It is 4 minutes (with scm version) vs 5 seconds (without). It is a repo with ~21k commits and 200 gradle modules.

Did anyone manage to get some speedup somehow of it still needs the cache to be implemented. I am using plugin version `1.10.3`

[2020-06-30 14:51] Bittuw commented on #135
Any updated?

[2020-06-30 15:16] ProTrent commented on #135
Not sure, I stopped using this plugin myself, so best of luck!

On Tue, Jun 30, 2020 at 8:51 AM _Mr_Bin_ <notifications@github.com> wrote:

[2020-07-02 13:07] wstrzalka commented on #304
Having same issue.
Like @mrchass mentioned adding ScmPosition as parameter for serialiser would do the job

[2020-07-06 16:56] kkovach commented on #241
Well, it appears that I must have moved on and forgotten about this question/issue but am now interested again. I'm wondering if maybe someone else has become interested in it since then? I love this release plug-in but am wondering again if we can get it to work with the Android Gradle Plug-in (AGP) and it's build variants? https://developer.android.com/studio/build/build-variants

To answer your

[2020-07-09 09:49] jwermuth commented on #340
Implemented and created pull request #342
@adamdubiel do you have time to look at it, or is there someone else who has write access to the repo

[2020-07-09 09:51] adamdubiel commented on #340
Hi, I will take a look at the PR :)

[2020-07-10 07:43] jwermuth commented on #340
During final testing of the additions i made to the plugin, I created a seperate repository/project that helped me test the jar built in axion-release-plugin. The repo is [here](https://github.com/jwermuth/axion-release-plugin-test).
The idea is to:

1. build the plugin jar,
2. copy it to 'axion-release-plugin-test/libs' and then you are able to
3. take the plugin for a manual test spin.

Perhaps

[2020-07-11 17:36] xmlking opened #343 "Error java.lang.ClassNotFoundException: org.eclipse.jgit.transport.JschConfigSessionFactory"
`grade cV --stacktrace` fialed with follow error

### How to reproduce
Repo:  https://github.com/xmlking/micro-apps

[code]

[2020-07-12 13:09] gustavkarlsson commented on #332
I'm having the same issue in my project.

It's open source so you could easily verify it yourself:
[code]
prints:
[code]

[2020-07-13 15:46] I-Vargas commented on #343
I'm also getting the same problem.

I have axion 1.12.0 and I was trying to add spotless 5.0.0 (4.5.0+ will have the same error).

I'm guessing it's because of a mismatch of JGit versions.

Axion is on 5.7 and Spotless in version 4.5.0 updated the JGit dependency to 5.8.

[2020-07-16 11:40] raxden opened #344 "Multi-module project"
I'm trying to configure axion-plugin with my multi-module project just as it says the documentation "https://axion-release-plugin.readthedocs.io/en/latest/configuration/basic_usage/".

`buildscript {
  repositories {
    google()
    jcenter()
    maven("https://plugins.gradle.org/m2/")
  }
  dependencies {
    classpath("com.raxdenstudios:android-plugins:0.15")
  }
}

plugins {
  id("io.gitlab.ar

[2020-07-18 09:15] JozoVilcek commented on #182
@adamdubiel I did get an inspiration from your performance branch and created a PR
https://github.com/allegro/axion-release-plugin/pull/346

It does improve configuration phase considerably for my case.

[2020-07-18 14:04] adamdubiel commented on #341
I started debugging, but...

Did really nothing else change in your project? Because the configuration that you posted is incorrect and should have never worked. You configure `scmVersion` **after** the version was read, meaning customizations are ignored when reading version. Proper configuration:

[code]

This issue was raised multiple times in the past and even has separate section in docs :)

[2020-07-18 14:22] adamdubiel commented on #339
I tried to reproduce, but actually can't. Stacktrace points to a place, where there is some potential for NPEs coming from JGit. I wonder if it could be the problem in JGit update. I will be upgrading JGit to 5.8.x in 1.12.1 and would like to as for confirmation if it worked. If not - a list of last 5-10 tags and some details about the repo and system (WIndows vs Linux) would be great. Ideally a s

[2020-07-18 14:24] adamdubiel commented on #334
Closing the issue, if bumping version to 5.7 (and in 1.12.1 to 5.8) did not help - i let me know :)

[2020-07-18 14:24] #334 closed

[2020-07-18 16:42] adamdubiel commented on #332
Thanks for providing this repo! I think I uncovered a serious problem introduced along with monorepo support. This should have been tested by me :/

FYI @john-tipper @sradi it seems like [monorepo support feature toggle](https://github.com/allegro/axion-release-plugin/pull/310#issuecomment-573872979) is needed after all. Without it calculating any multimodule project version works in monorepo mode

[2020-07-18 21:58] realdadfish commented on #334
Sorry, totally forgot about this one. I'll comment if I see this issue again. For now the devs are instructed to avoid UTF-8 and just use plain ASCII :)

[2020-07-18 22:01] realdadfish commented on #328
@adamdubiel Any feedback on this here?

[2020-07-22 13:28] mazdack opened #348 "upgrade to 1.12.0 breaks build"
going from 1.11.0 to 1.12.0 and getting error on building project
project is kotlin, gradle + gradle dsl

error:
[code]
config is:
[code]

[2020-07-23 16:07] k3mist commented on #330
We have an internal plugin that we include Axion with and also encountered this issue when updating;

Downgrading Axion to `1.10.3` resolves it for us

`> 1.10.3`
[code]

`<= 1.10.3`
[code]

It appears its most likely related to changes that occurred with; https://github.com/allegro/axion-release-plugin/commit/7202376bba5549a2ac75976f2bf4730638c02f25

But I'm not sure how we opt-out of this behavi

[2020-08-11 01:14] milesje opened #350 "1.12.0 NullPointerException"
Looking for uncommitted changes..
Checking if branch is ahead of remote..
Checking for snapshot versions..

Creating tag: release-1.0.58

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':release'.

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Exception is:
org.gradle.api.tasks.TaskExecutionExceptio

[2020-08-12 08:06] Farix1337 commented on #344
Whats your gradle version?
1.12.0 is pretty new. Did you try an older version?

[2020-08-12 12:51] Farix1337 commented on #350
i got same error. I am currently debugging it an it seems that it's caused by this lamda in GitRepository.java

`            boolean isOnExistingTag = tags.stream().anyMatch(ref -> {
                boolean onTag = ref.getName().equals(GIT_TAG_PREFIX + tagName);
                boolean onHead;
                try {
                    onHead = jgitRepository.getRepository().getRefDatabase()

[2020-08-12 12:54] Farix1337 commented on #350
This issue seems to be fixed in the master: https://github.com/allegro/axion-release-plugin/commit/c27b7d63ed3a68cc95a093f7379085354dbb2d4d

[2020-08-12 12:58] Farix1337 commented on #350
i would recommend downgrade to 1.11.0 until a new version is released

[2020-08-13 10:09] SteKoe commented on #348
I figured out how to fix this issue and provided a PR. All tests still pass. GStringImpl is now dropped and java.lang.String is returned instead. C.f. #351

[2020-08-13 10:27] #348 closed

[2020-08-13 10:28] adamdubiel commented on #348
Thanks for providing solution! I merged it, there is one fix waiting, so i should release 1.12.1. Sorry for slow response time, but for some time i've been swamped with other work and only able to do work in here in my spare time.

[2020-08-13 10:39] SteKoe commented on #348
No worries, thanks for providing this library for free! Your work is much appreciated :) keep on!

[2020-08-17 07:44] realdadfish commented on #334
I couldn't find a reference to https://bugs.eclipse.org/bugs/show_bug.cgi?id=547400 in any of the official changelogs (e.g. here https://projects.eclipse.org/projects/technology.jgit/releases/5.7.0), looking at the date at which the fix was checked in it seems to me however that it should have already happened for the timeframe of the 5.5 release.
Since you updated from 5.6 to 5.7 the fix must hav

[2020-08-17 12:37] JozoVilcek commented on #182
@adamdubiel will you get some time to look at the open PR for this issue?
https://github.com/allegro/axion-release-plugin/pull/346

I would like to know if this approach is acceptable and can get to master any time soon.

[2020-08-21 08:46] Farix1337 opened #352 "1.12.1 missing in the public maven repository"
I want to use the newest version 1.12.1 because 1.12.0 ist currently not usable for our projects because of lightweight tags which cause NullPointerExceptions.
When is planned to publish the newest version 1.12.1 to global maven repository?

[2020-08-24 18:18] kkovach commented on #241
@adamdubiel  Is there anything else I can help provide on this? I know it's been a long time, and I would like to reopen this issue, but I don't know that there's an actual way to reopen issues in Github? Thanks!

[2020-09-02 19:44] jimirocks commented on #344
I ran into this issue. I think the problem is actually in the documentation. Since the `scmVersion` extension only exist in parent project where the plugin is applied. I fixed it using (in KTS)
[code]

This can't be in `allprojects {}` so probably additional `project.version = scmVersion.version` should be in parent project? However I am not sure whether the version is parent is useful.

[2020-09-11 08:59] wumo opened #353 "error running `./gradlew.bat release -Prelease.versionIncrementer=incrementMajor`"
when running `./gradlew.bat release -Prelease.versionIncrementer=incrementMajor`, the following exception throws:
[code]

[2020-09-21 12:47] bric3 commented on #352
Even on gradle plugin repository : https://plugins.gradle.org/m2/pl/allegro/tech/build/axion-release/pl.allegro.tech.build.axion-release.gradle.plugin/maven-metadata.xml, at this date (20200530171456) the latest is 1.12.0.

[2020-09-24 20:16] DaveBender opened #354 "Update documentation to latest version 1.9.3 -> 1.12.0"
The documentation, referenced in the README.md at [readthedocs.io](https://axion-release-plugin.readthedocs.io/en/latest/), appears to be out of date.  It shows documentation for version 1.9.3 but the latest version is [1.12.0](https://github.com/allegro/axion-release-plugin/releases/tag/axion-release-1.12.0)

Some examples in the documentation appear to refer to classes that are no longer in the

[2020-10-13 11:53] adamdubiel commented on #352
I just published 1.12.1.

[2020-10-13 11:53] #352 closed

[2020-10-13 19:10] bric3 commented on #352
@adamdubiel Thanks !

[2020-10-19 20:38] milesje opened #355 "1.12.1 Auth fail"
For some reason ever since upgrading to 1.10 and higher I'm constantly getting either a NullPointerException which has not happened on latest version (1.12.1) and an "Auth fail" error. Image attached below.

OS: Windows 10
Java: OpenJDK Runtime Environment AdoptOpenJDK (build 15+36)
git: version 2.21.0.windows.1
Git Server: GitLab-CE (privately hosted) 13.4.4

![image](https://user-images.githubus

[2020-10-19 20:43] milesje commented on #350
With version 1.12.1 I'm no longer getting a NPE but I am getting an "Auth Fail" error now which I created a new issue for. So this issue can be closed.

[2020-10-19 20:43] #350 closed

[2020-10-19 21:12] milesje commented on #355
I'm wondering if it might have to do with the version of OpenSSH and Key Types/Signatures.... We use an ED25519 key.

[2020-10-19 23:52] milesje commented on #355
So everything works as expected when issuing the command on my linux system. So it must be something about my windows 10 system. I will gather the details about the linux system later to see if what the difference is.

[2020-10-20 16:47] milesje commented on #355
So does this plugin not support ED25519 Keys? I got my IT department to remove the restriction on generating a RSA 2048 on my windows 10 machine and that key does work. Now I need to convince my IT to let me keep the RSA 2048 key....

[2020-10-22 01:29] asarkar commented on #315
+1 to @realdadfish's comment. Kotlin is the preferred language with Gradle now. Speaking of which, are there any examples of configuring the plugin using Kotlin DSL?

[2020-10-22 01:32] asarkar commented on #285
Perhaps it would be better to split this plugin into two, one that determines version, and one that does release. That way, each can be migrated to Kotlin without having to do a big-bang migration for the whole. Also, my guess is, lot of companies have their internal release process, and just use this plugin for versioning; I know we do.

[2020-10-22 01:34] asarkar commented on #285
@kboom I'm also looking for Kotlin DSL usage. Would you be willing to post some code snippets without divulging proprietary code?

[2020-10-22 02:20] asarkar commented on #344
@jimirocks

I found that too, but why can't it be in `allprojects` instead of having to separate parent and subprojects?

[2020-10-22 08:01] vladimirfx commented on #285
In this issue description presented working example of Kotlin DSL usage. Feel free to ask your questions, if any.

[2020-10-22 11:32] asarkar commented on #285
@vladimirfx I'm looking for the following:

1. If on a `release/.*` branch, find the last tag matching `release/.*` and add the commit distance with the patch version.   commit distance is the number of commits between the latest commit and the tag found.
2. Otherwise, find the last tag with prefix _not_ `release/.*` (empty prefix), and append `-SNAPSHOT` to it, regardless of any commits made afte

[2020-10-22 14:30] vladimirfx commented on #285
Your questions not about Kotlin DSL. But I try to answer it.
1. There is no API to count commits and it is reasonable because this distance may vary depending on path you go between commits.
2. Version decoration usually based on current commit (and dirty state) AFTER base version number is calculated.

So seems your requirements is not covered by this plugin.

[2020-10-22 22:28] asarkar commented on #285
It's basically
[code]

[2020-10-28 15:47] #355 closed

[2020-10-28 15:51] milesje opened #357 "Build Error when using scmVersion.version"
Setting `version = scmVersion.version` in build.gradle file results in an error.

[code]

[2020-10-28 15:59] milesje commented on #357
I do not get this error when using version 1.11.0 or below... only with versions 1.12.0 and up.

[2020-10-28 16:12] milesje commented on #357
This looks to be an issue with another plugin (gradle-git-properties) also using JGIT by way of grgit-core which is using version 5.8 of JGIT.

[2020-11-12 11:20] cliffred commented on #269
We have the exact same need. Would it be possible to overload the versionCreator closure so it can also take just the versionContext? VersionContext contains all the information you need to achieve this. You would only need to pass the right parameters based on the number of parameters of the versionCreator closure here:

https://github.com/allegro/axion-release-plugin/blob/03f951c313325fb5a93d0e4

[2020-11-16 10:33] Maakaapeli opened #359 "Invalid base64 data from Jenkins while performing release build"
Hello!

Im currently using Jenkins and multibranch pipeline for our CI.
During jenkins job I get following error when running` ./gradlew release -Prelease.disableChecks -Prelease.pushTagsOnly`

[code]

How could I avoid this kind of problem? release.dryRun works fine(ofcourse because it wont send anything to our versioncontrol)

[2020-11-16 12:21] jkiehlxorder opened #360 "verifyRelease cannot detect SNAPSHOT versions within gradle dependencies constraints"
hi,
I am working with gradle 4.10.3 and axion-plugin 1.12.1 on Projects using the gradle dependencies constraints. When I call the task verifyRelease I get an "BUILD SUCCESSFUL ", even though a -SNAPSHOT dep is in the configuration:

[code]
Can you help with a fix or workaround ?

[2020-11-17 05:57] anurag-srivastava-by opened #361 "How to create a custom release number"
Hi,
 I want to initialize the release numbers with a customs value. forex. release-2019.1.1.0 instead of the default release-0.1.0.  I tried with initialVersion = { "2019.1.1.0", position -> position.getBranch() + "_" + version }. Any help is well appreciated.
Disclaimer: Consider me a novice user of this plugin.

[2020-11-17 09:55] #361 closed

[2020-11-17 09:56] anurag-srivastava-by opened #362 "Configuring custom initial version"
Is there any limitation on version format? I see 2020.1.0.0 as the initial version is not working while 2020.1.0 is working.

[2020-11-17 10:00] adamdubiel commented on #362
Yes, only SemVer is supported: https://semver.org

[2020-11-17 10:13] anurag-srivastava-by commented on #362
Thanks for your quick reply. I got it working with below config.

 tag {
        prefix = 'release-2020'
        versionSeparator = '.'
		initialVersion = { tag, position -> "1.0.0" }
    }

[2020-11-17 11:19] #362 closed

[2020-11-19 10:55] cwrau opened #364 "Cannot sign commits - missing credentials provider"
My `.gitconfig` is configured in the following way:

[code]

I have a hook which modifies a `package.json` and then commits it with:

[code]

But when I use `gradle release`, the plugin crashes with the following message:

[code]

[2020-11-25 10:52] sdavids commented on #343
Why they upgraded:

https://github.com/diffplug/spotless/issues/726

[2020-11-25 10:58] sdavids commented on #343
You might also consider shading:

https://github.com/diffplug/spotless/issues/587

[2020-12-01 14:26] rprinsen commented on #344
Hmm, I tried @jimirocks solution, but it still complains about the extension not existing.
Is there a way to expose the scmVersion to any modules within the project?

[2020-12-11 19:32] gabrieljones commented on #285
I had to do
[code]

[2020-12-16 15:35] gergely-sallai commented on #157
Hi,
Sorry to resurrect an old thread.
Is there any chance that this can be incorporated?

This is exactly what our release flow requires and would be a nice flexible API for this plugin too.
My current release flow:
- decide to work on some feature for 1.2.3
- feature is ready, seams OK too, mark it as an RC 1.2.3-rc1
- oh no, there's still some changes left, implement, mark as a new RC 1.2.3-rc2

[2021-01-06 16:08] Haardt commented on #357
Thank you - removed the gradle-git-properties and it works again :)!

[2021-01-07 12:02] timo-schaefer opened #366 "pgp tagging"
Hi,

I'm using axion-release-plugin 1.12.1 which uses jgit 5.7.0 internally.
Now I'm trying to sign the version tag with gpg created by the plugin.

My .gitconfig looks like this:
[code]
The tag which has been created by the plugin has not been signed and it looks like that the git configuration has no effect and has been ignored.

[2021-01-17 17:38] cnygardtw commented on #343
This worked for me on 1.12.1, but not on 1.12.0, FYI

And thanks for the suggestion.

[2021-02-04 06:17] jandersson-svt opened #367 "Discussion: more Defacto standard default release tagging approach."
Proposal: Axion should provide a more semver friendly tagging out of the box. Instead of using the  prefix/separator concept as default, that tags the releases as  nonsemver "release-X.Y.Z" I propose that the prefix concept is changed to a postfix/build concept, or according to semver: https://semver.org/
` <version core> "+" <build> `
i.e so instead of the out-of-the box release tag
 release-X.Y.

[2021-02-11 20:37] radusuma commented on #330
Hello,

I am facing the same issue SnapshotDependenciesChecker fails for multi module project.
did anyone able to resolve it ?

[2021-02-11 20:40] radusuma opened #368 "Snapshot Dependencies Check fails for multi module project"
For example you have 2 modules: api and endpoint.
enpoint uses api module like this implementation(project(":api"))
Then the snapshot check fails:

- But I am not using any snapshot dependencies, it is still failing. Can anyone help me to resolve it.

@adamdubiel, some other members also reported this issue. Could you please look into it and help us out.

Thank you..

[2021-02-12 17:56] bgalek commented on #366
Hi @timo-schaefer!
I'm going to update jgit (I also had problems with signing commits, but mine was resolved just by updating) https://github.com/allegro/axion-release-plugin/pull/370
I'll get back to you with a snapshot release to test, ok? :)

[2021-02-12 17:57] bgalek commented on #364
@cwrau
I'm going to update jgit (I also had problems with signing commits, but mine was resolved just by updating) #370
I'll get back to you with a snapshot release to test, ok? :)

[2021-02-12 17:58] bgalek commented on #354
@DaveBender how do you feel about contribution? :)

[2021-02-12 18:22] timo-schaefer commented on #366
Hi,
perfect. I'm looking forward to test your snapshot...

[2021-02-13 02:24] cwrau commented on #364
That would be awesome, thanks for your help!

[2021-02-15 11:28] wyhasany commented on #343
The very same exception happened to me when I used simultaneously:
[code]
with
[code]
it works properly with `gradle-git-properties:2.2.2`. It seems to be dependencies conflict. However in newest version it uses the very same dependency (https://github.com/n0mer/gradle-git-properties):
[code]
it's transitively downloaded through `grgit-core`. Do you have any idea how can I resolve such issue? I've

[2021-02-15 16:47] bgalek commented on #343
I hope to add shadow plugin into axion-release with minify and dependencies relocation enabled - this should assure us that axion-release-plugin won't interfere with other dependencies ;)

[2021-02-15 17:43] bgalek commented on #343
check out https://github.com/allegro/axion-release-plugin/pull/371/files :)

[2021-02-16 14:12] bgalek commented on #319
@BrassyPanache I've added @Input and @Output annotations where they where ncesseary, this issue will be fixed in next release :)

[2021-02-16 14:12] #319 closed

[2021-02-16 14:16] bgalek commented on #354
thx, fixed ;)

[2021-02-16 14:16] #354 closed

[2021-02-16 23:51] BrassyPanache commented on #319
Thanks, @bgalek! Much appreciated.

[2021-02-17 18:58] gabrieljones opened #373 "allow changing the default branch name"
I see the branch name `master` hard coded in some places. Is it possible to make this configurable so I can change what axion considers to be the "default" branch?

Reference:
https://github.com/allegro/axion-release-plugin/search?q=master+-Test

[2021-02-17 19:40] bgalek commented on #373
Hi! @gabrieljones that's a good point! Maybe you would like to contribute? :)

[2021-02-17 19:42] bgalek commented on #373
I see one significant place so far: https://github.com/allegro/axion-release-plugin/blob/03f951c313325fb5a93d0e4e809b6803710c8a42/src/main/groovy/pl/allegro/tech/build/axion/release/domain/PredefinedVersionCreator.groovy

[2021-02-17 20:05] surjitsinghbhachu opened #374 "org.eclipse.jgit.api.errors.TransportException not authorized"
I would like to start using this plugin with a SpringBoot gradle project but I am getting an exception when I try to run the gradle `release` command with GitHub. I can pull/push to Github with no issues using the repo over https, it's only when I use the release command.

Gradle version: 6.8.2

Here is my Gradle config:

[code]
Here is the exception:

[code]

What am I doing wrong?

[2021-02-17 21:13] bgalek commented on #374
Hi, have you tried running the same task with `--debug`?  If we want to debug "not authorized" message, we would need more output. Also, are you willing to tryout current "master" build (you'll need to build the project locally)

[2021-02-17 21:20] bgalek commented on #157
@gergely-sallai how do You feel about a contribution? :)

[2021-02-17 22:35] surjitsinghbhachu commented on #374
With --debug, here is the output:

[code]
Happy to try the master build. Can you point me to the instructions on how to build and reference in my gradle file?

[2021-02-18 02:59] gabrieljones commented on #373
I just came up with this work around:

[code]

this is build.gradle.kts syntax by the way

[2021-02-18 03:04] gabrieljones commented on #373
Maybe it would be cleaner for me to create a new [custom version creator](https://github.com/allegro/axion-release-plugin/blob/03f951c313325fb5a93d0e4e809b6803710c8a42/docs/configuration/version.md#custom-version-creator)

I might look into that tomorrow

[2021-02-18 08:41] bgalek commented on #374
Thx for sharing debug output, It looks like we're not sending any credentials at all... strange...
Current master has some changes that may address the issue, so thank You for your involvement!

How to test this plugin locally:

1. clone the repo
2. run `./gradlew clean build`
3. run `./gradlew publishToMavenLocal`
4. test local build on your application like:

apply plugin: 'axion-release'
[code]

[2021-02-18 18:42] bgalek commented on #373
I was thinking exactly about custom version creator :)

[2021-02-18 19:18] surjitsinghbhachu commented on #374
Thanks for the instructions. I was able to build the plugin locally but I got the same error. I may have overlooked something though, can I just double check my process:

1. Created my repo in GitHub
2. Cloned my repo using the https URL (not SSH). It did not ask me for my GIT username and password at this point.
3. Made some change locally, committed and pushed to origin (this is where I was aske

[2021-02-18 19:25] bgalek commented on #374
gr8!
Yes, when git push command prompts You for password, that's the place where it's problematic for our plugin.
Also this plugin covers an use case, when you run a automated task (CI/github action) for relese - there won't be any way to prompt for password!
I recommend using environment variables or gradle parameters to pass username and password without hardcoding them in build.gradl file.

i.e

[2021-02-19 18:47] gabrieljones commented on #373
how do I specify a custom version creator in Kotlin DSL?

[2021-02-23 18:40] gabrieljones commented on #373
Here is what I came up with:
[code]

[2021-02-23 18:41] #373 closed

[2021-02-24 11:11] f4lco commented on #374
and then use those arguments in scmVersion.repository.customUsername and scmVersion.repository.customPassword

@bgalek a shortcut already exists in the plugin for this exact usecase. This is what I'm currently using:

[code]

No need for modifications in `build.gradle`. In this case `${USER}` and `${PW}` are environment variables, but they can  easily be replaced by the actual credentials for firi

[2021-02-25 21:24] bgalek commented on #374
@surjitsinghbhachu do You need any more assistance? :)

[2021-02-25 21:26] bgalek commented on #366
@timo-schaefer could you try-it yourself simply by building master and using your local m2?
It's more secure then me sending You a jar file ;)

[2021-02-25 21:27] bgalek commented on #364
@cwrau could you test it simply by cloning this repository and building a snapshot from master branch? you can then publish it to your local maven for testing ;)

[2021-03-02 08:34] f4lco commented on #332
+1 for the monorepo feature toggle. I got bitten by this as well (f4lco/libyear-gradle-plugin@ba7cba782456cc395b957823ad9eb3a139273827).

To paraphrase:

If I want to release, and the last change for this feature set touched the top-level README, the Gradle project in a separate folder will have a `-SNAPSHOT` version, despite the fact that HEAD carries a release tag.

[2021-03-03 09:01] timo-schaefer commented on #366
I have build master and I can see the plugin in my local maven repository, but I'm not able to include into my project.
I have also read your _DEVELOPMENT.md_ file and changed my _build.gradle_ accordingly but the plugin is not found.
I get the following error:
[code]
I'm using gradle wrapper version 6.8.1
When I do a different approach, modifying my _settings.gradle_ like this:
[code]
and using t

[2021-03-03 13:48] bgalek commented on #366
@timo-schaefer thaks for your effort! I'll update DEVELOPMENT.md, but for now - is your project opensourced? maybe I could simply test your project with my local plugin snapshot?

[2021-03-05 10:38] surjitsinghbhachu commented on #374
No thanks for your support @bgalek. Issue can be closed.

[2021-03-05 10:46] #374 closed

[2021-03-05 14:59] timo-schaefer commented on #366
With gradle wrapper 5.6.4 I was able to apply the locally build plugin. But unfortunately the tag created by the task _release_ still has no signature. If I tag a commit manually it has a signature.

[2021-03-05 15:18] bgalek commented on #366
@timo-schaefer thank you! I'll check this out right away!

[2021-03-05 15:18] jandersson-svt commented on #367
I left a little PR that would change the default prefix to v instead of release-, and also would fulfill this discission proposals

https://github.com/allegro/axion-release-plugin/pull/377

[2021-03-05 15:36] bgalek commented on #366
@timo-schaefer I've looked around jgit code and I think that we need this commit to be merged https://git.eclipse.org/c/jgit/jgit.git/commit/?id=41b9159795d6f64bba6a67ce2f22fe1b7679ea55
It's going to be released in 5.11.0. We could try with the nightly build (5.11.0-SNAPSHOT) to see if the problem will be resolved. Before the 5.11 release, we would have to find a workaround. I'll try to create a t

[2021-03-15 12:28] mockitoguy commented on #357
Downgrading to `1.11.0` worked for me.

[2021-03-15 12:30] mockitoguy commented on #343
Hey @bgalek, is the shadowed version already released? I'm still getting this issue in Mockito project (I worked around by using version 1.11.0). I strongly recommend shadowing all dependencies -> the plugin will be much easier/safer to use. Thanks for this nice plugin!!!

[2021-03-15 12:36] mockitoguy opened #378 "Support common v1.2.3 prefix"
It appears that `scmVersion.tag.prefix` only supports prefixes with hyphen. In Mockito project we're using a convention without hyphen: `v1.0.0`, `v1.1.0`. Is there a way to configure axion plugin to support tags with single letter `v` prefix? Thanks for this nice plugin!

[2021-03-15 12:46] bgalek commented on #343
@mockitoguy hi, it's not yet released, would You like to test it? If everythings all right, I'll release a new version ;)

[2021-03-15 12:56] bgalek commented on #378
We are changing this behavior here https://github.com/allegro/axion-release-plugin/pull/377.

[2021-03-19 14:55] realdadfish opened #381 "META: Maintenance of axion-release-plugin"
Dear current maintainer(s),

it seems to me that this software is somewhat unmaintained, still, many people use it today and even send in pull requests that sometimes keep open for weeks, or months, without any notice.

What is the current status of this project? Is it still actively maintained? Is there a wish to expand the active maintainers to more people, so tasks can be distributed amongst th

[2021-03-19 19:52] jandersson-svt commented on #381
HI fellow axion user and PR submitter - I think a good idea to help the project would be to code review the PR's and fix a few bugs, to get rid of the backlogs. Of course, before doing that one would like to know that the effort is worth it, - . For example, if you or I would start doing code review or fixing bugs, would it help get them solved/merged quicker?  I *think* @bgalek is the most active

[2021-03-20 19:11] PMcca opened #382 "Unable to push release via local jenkins"
**EDIT** It looks like release tags are being pushed to my github successfully, but the jenkins step still says it fails. What is failing here? The versions are showing up in my github tags and releases.

I'm running a local jenkins, but it is unable to push new tags to the Github repository. The error I receive is very vague:
`pl.allegro.tech.build.axion.release.ReleaseFailedException (no error m

[2021-03-21 18:11] bgalek commented on #381
@realdadfish Hi! Thx for your side of the story. I'm doing my best to help with the project, I've been closing old issues, done some maintenance and some little fixes last few weeks ;) My goal is to close all old issues, but as You already know, there are a lot things to review and test.

@jandersson-svt code review will be always welcome! :) BTW. I'm planning to check Your PR today ;)

[2021-03-21 18:31] #289 closed

[2021-03-21 20:13] jandersson-svt commented on #381
If I can get the time I'll try to have a look at some of the older issues or prs and see If can contribute with something :)

[2021-03-21 22:33] #378 closed

[2021-03-22 00:19] #382 closed

[2021-03-22 13:08] bgalek commented on #328
@realdadfish I think interface extraction of VersionConfig would be ok - let's agree, your use-case is very specific ;)

[2021-03-22 13:41] realdadfish commented on #328
@bgalek I think its not so uncommon with today's standard to have a multi-stage isolated pipeline, all cloud build providers isolate a certain stage from the next and unless you cache the whole git repository in between (which you usually don't do because caching many small files is slower than just cloning a repository again, maybe even utilizing shallow cloning).

So this plugin works still nice

[2021-03-22 13:42] realdadfish commented on #328
How would this look like exactly for you? `VersionConfig` is just a data holder / configurator for the plugin.

[2021-03-22 17:53] bgalek commented on #328
@realdadfish as far as I know most popular CI/CD pipelines use branches/snapshot/candidates
stage 1 - push release-1.0.1-SNAPSHOT (or i.e. release-1.0.1-mybranch-SNAPSHOT)
stage 2 - test actual release-1.0.0 VS release-1.0.1-SNAPSHOT
stage 3 - release release-1.0.1 to the public if got to stage 3

I would need to know a little more about your project to understand your needs better.

I understood,

[2021-03-23 09:14] realdadfish commented on #328
So, the general use case that I have in most projects is the following. I have three or more stages:

* The first stage creates a non-snapshot release version based on the current rules, i.e. `1.2.0-SNAPSHOT` becomes `1.2.0`
* The second or any subsequent stages needs this `1.2.0` version marker and creates artifacts from it (be it binaries that contain the version compiled in, changelog files tha

[2021-03-24 15:21] mockitoguy commented on #138
+1 to this use case. Previous version is very useful for automatically building the release notes.

This ticket has been filed 5 years ago. Is there a public API currently to expose the previous version?

[2021-03-24 15:39] bgalek commented on #138
@mockitoguy seems useful, do you want to implement this? :)

[2021-03-24 21:06] LWogan commented on #332
This issue is a blocker for anyone wanting to use this plugin when they have a multi gradle project monorepo.

When a release for a subproject tags the repo it tags the most recent commit in the monorepo with the release regardless of what project it is from. However when it is trying to derive the current version for a subproject it will only search for tags in the commits made to that subproject

[2021-03-26 15:40] mockitoguy commented on #381
@bgalek, I tested the most recent HEAD with Mockito and it looks good (https://github.com/mockito/mockito/pull/2243)

Ship it ;-)

[2021-03-26 19:04] bgalek commented on #381
@mockitoguy on it! Because this is a gradle plugin we don't have any snapshots releases :( I'll create new version today with next "fix" version, test it for the last time and then I'll create new minor release ;)

[2021-03-26 22:00] jandersson-svt commented on #367
After #377 was merged, sometime in the future I would like to inspect the possibility to allow pure semVer tags, (X.Y.Z-asdf) - which is possible today, but If i recall correct, there was an issue with mulitprojects currently if doing so - However, I think that would be needed to be investigated in a separate and focused issue/pr. I feel this discussion issue is a bit vague after #377  and I would

[2021-03-27 13:33] bgalek commented on #367
@jandersson-svt hi! sure, pure semVer seems a reasonable way to go. I'll need some time to dive into multiproject issues, hope we will agree on something one day ;)

BTW.
I'm just working to releasing new version ;)

[2021-03-27 19:06] maciolek opened #385 "cannot set current branch name for tags automatically"
Hi, I would like to use axion-release-plugin to name my version artifacts and tag prefix in azure devOps pipeline.
I tried all tips from https://axion-release-plugin.readthedocs.io/en/latest/configuration/ci_servers/#azure-devops-pipelines like:

./gradlew release \
    -Prelease.disableChecks \
    -Prelease.pushTagsOnly \
    -Prelease.overriddenBranchName=$(Build.SourceBranch)
but it still does

[2021-03-27 21:51] mockitoguy commented on #385
Have you tried the different configuration options? See https://axion-release-plugin.readthedocs.io/en/latest/configuration/overview/, check out `tag` configuration.

[2021-03-27 23:06] #138 closed

[2021-03-27 23:16] bgalek commented on #343
new version released :) @xmlking

[2021-03-27 23:16] #343 closed

[2021-03-27 23:16] bgalek commented on #381
@mockitoguy new version released :)

[2021-03-27 23:17] #64 closed

[2021-03-27 23:18] bgalek commented on #80
i recommend using https://github.com/marketplace/actions/send-tweet-action :)

[2021-03-27 23:18] #80 closed

[2021-03-27 23:19] #86 closed

[2021-03-27 23:21] bgalek commented on #173
@dafelipe130 I think after few years without traction there won't be any ;) cheers!

[2021-03-27 23:21] #173 closed

[2021-03-27 23:22] #180 closed

[2021-03-27 23:23] bgalek commented on #182
@JozoVilcek you've got some comments ;)

[2021-03-27 23:24] bgalek commented on #224
@cliffred how do You feel about creating PR to the main repo?:)

[2021-03-28 15:02] mockitoguy commented on #381
@bgalek, great!

[2021-03-28 16:29] wyhasany opened #386 "[Regression] Axion 1.13.0 doesn't support previous prefixes"
After update I see following error
[code]
adding hyphen to the prefix fixes the problem (`build.gradle.kts`):
[code]
If it was intended it would be nice to document it inside release docs otherwise it should be fixed as it breaks backward compatibility.

[2021-03-28 16:49] wyhasany opened #387 "Support configuration cache"
Newest version of axion-release-plugin doesn't support [configuration cache](https://docs.gradle.org/6.8.3/userguide/configuration_cache.html). Here you can see why it fails:
[code]
Both problems are related with using `Project` during task execution:
![image](https://user-images.githubusercontent.com/317662/112760013-c9c7b500-8ff5-11eb-8151-b5cd733257d0.png)
![image](https://user-images.githubuse

[2021-03-28 20:13] bgalek commented on #386
@wyhasany hi! This is indead regression, I'll fix it as soon as possible!

[2021-03-28 20:16] bgalek commented on #387
@wyhasany thx for pointing it out, I'll fix this

[2021-03-28 21:43] maciolek commented on #385
Yes, I read it. Unfortunately I don't know how to add proper prefix tag per every current branch automatically, every time after create new one.
I tried this config, it doesn't work.
my current branch -> azureDevOps

1st ex:

    tag { // doc: Version / Parsing
        prefix = 'tag-prefix' // prefix to be used, 'v' by default, empty String means no prefix
        branchPrefix = [ // set different

[2021-03-28 22:46] bgalek commented on #387
It will take a while, almost every tasks uses project to reconfigure some properties at runtime ;(

[2021-03-28 22:47] bgalek commented on #387
did older version work ok?

[2021-03-29 07:18] #367 closed

[2021-03-29 07:18] jandersson-svt commented on #367
After discussion and partial solution patched, closing this.

[2021-03-29 07:20] jandersson-svt commented on #381
Congrats!! Will test today!

[2021-03-29 07:24] bgalek commented on #386
I've updated release notes and I'll update docs/readme this week! @wyhasany thx for pointing out the problem!

[2021-03-29 07:48] wyhasany commented on #386
That's awesome, I think I can close this ticket. Thanks for fast answer! :)

[2021-03-29 07:48] #386 closed

[2021-03-29 07:50] wyhasany commented on #387
To be honest I don't know. I've tested it only with newest version. However I don't think so :)

[2021-03-29 08:23] bgalek commented on #387
I think so too. Please be assured that from now on we'll refactor each task to support configuration cache during regular development!

[2021-03-29 09:40] mateuszkwiecinski opened #388 "Plugin classes become unavailable after upgrade to 1.13.0 (probably only when using mavenCentral)"
After upgrade to 1.13.0 plugin classes seem to be missing somehow 👀

|1.12.1|1.13.0|
|---|---|
|![image](https://user-images.githubusercontent.com/36954793/112816629-e4477000-9081-11eb-9591-abfbfb250b4b.png)|![image](https://user-images.githubusercontent.com/36954793/112816758-04772f00-9082-11eb-8749-5c3f4eb71817.png)|

Were there any other changes on how the plugin is now published? Are there any

[2021-03-29 09:42] wyhasany opened #389 "[Regression] Shadowing seems not to work as expected"
While releasing I've encountered following exception:
[code]

[2021-03-29 09:45] bgalek commented on #389
I'll look at it

[2021-03-29 09:45] bgalek commented on #388
hi @mateuszkwiecinski I'll check it out

[2021-03-29 10:53] bgalek commented on #389
@wyhasany I think, this is an easy fix - it seems that org.eclipse.jgit is loading classes dynamicly, so i.e. Random.class got removed due tree-shaking - stay tuned for a fix release!

[2021-03-29 10:57] bgalek commented on #389
@wyhasany can U share your build.gradle for me? I'm trying to reproduce the problem ;)

[2021-03-29 11:32] wyhasany commented on #389
@bgalek pls stop your investigation. It seems that in my company there is some issue between Jenkins <-> Bitbucket which can cause this bug. I can confirm that when our devops resolve it 🤣

[2021-03-29 11:42] grational commented on #388
Confirm what @mateuszkwiecinski has said adding a couple of observations.

It seems that, at least, version `1.12.6` is affected too.

I have also noticed that, using `1.13.0` the previous `release-x.y.z` tags are not recognized anymore from the `gradle currentVersion` command. The output of that command being `0.1.0-SNAPSHOT`.

Downgrading to `1.12.1` has solved both the issues.

[2021-03-29 11:47] bgalek commented on #388
I didn't expect anybody to include plugin as dependency did not test this flow - I'm trying to fix this (I assume that's a simple pom.xml problem)

@grational could You share your build.gradle?

[2021-03-29 13:00] wyhasany commented on #389
@bgalek It seems not to be related to some issues with my environment, after fixing issue by DevOps the exception with `ClassNotFoundException` still exists

[2021-03-29 13:03] bgalek commented on #388
I think I've have a fix, will get back to you in few hours

[2021-03-29 13:53] wyhasany commented on #389
I've spent some time trying to reproduce it with simple project but I failed. Here you can see example project (no clue why it happens on my environment)

[axion-example.zip](https://github.com/allegro/axion-release-plugin/files/6222156/axion-example.zip)

[2021-03-29 15:15] grational commented on #388
It seems that I have read your message slightly in late, anyway here it is:
[code]

[2021-03-29 17:06] bgalek commented on #388
@mateuszkwiecinski I've solved class access problem
@grational I'cant reproduce your problem, can we create separete issue? I would need to have your tag list ;)

[2021-03-29 17:19] mateuszkwiecinski commented on #388
Wow, that was fast 🚀 I can confirm it works like a charm now 👌 Thank you!

[2021-03-29 17:19] #388 closed

[2021-03-29 17:53] mateuszkwiecinski opened #391 "Behavior change in `incrementMinorIfNotOnRelease` incrementer when on release branch"
**Context:**
I'm using `incrementMinorIfNotOnRelease` incrementer by setting
[code]

**Repro steps:**
1. Checkout a commit tagged `release-1.2.0` on a `release/1.2.0` branch.
1. Run `./gradlew currentVersion` tasks and ensure it prints `1.2.0`
1. Make an additional commit
1. Run `./gradlew currentVersion` task again

**Expected result:**
Task completes with `1.2.1-SNAPSHOT` output, as it was in `1

[2021-03-29 19:28] mateuszkwiecinski opened #392 "[1.13.1] Evaluating `scmVersion.version` prevents further updates to the extension"
### Context
Using Gradle extensions often requies caling `afterEvaluate` block to read user data as they are not available right after registering an extension.
I have to defer configuring `axion-release-plugin` exactly for that reason. After migrating to 1.13.1 I noticed there is an additional limiatation introduced in that version.

### Repro steps
Given following code and having a tag `prefix1.

[2021-03-29 20:08] bgalek commented on #389
@wyhasany try 1.13.1 tommorow (maven central sync) and tell me if it helps ;)

[2021-03-29 20:09] bgalek commented on #391
I'll look at this tomorrow! Thanks for detailed issue submission!

[2021-03-29 20:09] bgalek commented on #392
I'll look at this tomorrow! Thanks for detailed issue submission!

[2021-03-29 20:43] bgalek commented on #391
I've made a blind guess https://github.com/allegro/axion-release-plugin/pull/393/files (didn't test it yet) what do You think @mateuszkwiecinski ?

[2021-03-29 20:52] michaelruocco opened #394 "Build break with message "There can be no tags that match the prefix but contain non-SemVer string after the prefix." after upgrade to 1.13.0"
Hi, first off thanks for the very useful plugin, I use it in a number of my repos and it works perfectly.

Recently I have attempted to update from version 1.12.1 to 1.13.0 and I have found a good number of my builds have broken. The builds all use the ```'versionWithBranch'``` version creator with a tag prefix. And example config from one of the broken repos is:

[code]

I have performed a number

[2021-03-29 21:04] bgalek commented on #391
@mateuszkwiecinski a quick "manual" test seems ok
[code]

[2021-03-29 21:07] bgalek commented on #394
hi @michaelruocco!
Thx for kind words!
Yes, this is intended solution as described in release notes: https://github.com/allegro/axion-release-plugin/releases/tag/axion-release-1.13.0

I didn't had time to fix changelog/docs yet, sorry!

[2021-03-29 21:09] michaelruocco commented on #394
Ah okay, I should have checked the release notes before raising, in that case this can be closed. Thanks for confirming.

[2021-03-29 21:09] #394 closed

[2021-03-29 21:14] bgalek commented on #392
@grational isn't that also Your case?

[2021-03-30 11:28] wyhasany commented on #389
It works as expected ❤️  Thanks for your support @bgalek !

[2021-03-30 11:28] #389 closed

[2021-03-31 12:40] Mati20041 commented on #389
@bgalek

Unfortunately it looks like the problem still occurs :(
I'm using 1.13.1 version and also tried to clear the caches.

`id 'pl.allegro.tech.build.axion-release' version '1.13.1'`

[code]
Any idea where the root of this behavior might be? 🤔

(I removed companys git urls)

[2021-03-31 15:38] mockitoguy opened #395 "Previous version is the same as current version when building tags"
In the recent release we've added `scmVersion.previousVersion`. It works well for snapshots but does not quite work when building tags:
 - when building snapshots: `scmVersion.version=1.0.0, scmVersion.previousVersion=1.0.1-SNAPSHOT`
 - when building tags: `scmVersion.version=1.0.1, scmVersion.previousVersion=1.0.1`

Since I'm in need of this feature, I'll take a look ;-)

[2021-03-31 16:20] bgalek commented on #391
@mateuszkwiecinski could you test it from this branch? I'll need some time to create a useful tests for this feature but also - I would like to fix broken release ;)

[2021-03-31 16:42] mateuszkwiecinski commented on #391
Sure, I should be able to test it later today (somewhen around late evening), if not I'll do it as the very first thing tomorrow morning 👀

Is there a snapshot version available or should I build and publish the plugin locally?

Also, could you explain why it is expected to use tag config at release **branch** naming? Previously release branch format and tag name format were considered a separate

[2021-03-31 16:49] bgalek commented on #389
@Mati20041 hi! my only suspect is https://github.com/allegro/axion-release-plugin/blob/master/build.gradle#L120
I've just checked, removing minimizing restores missing class.
Be sure to update to next fix version1

[2021-03-31 17:04] bgalek commented on #391
There is no way (AFAIK) to have gradle plugins snapshots. So please use mavenLocal().

This plugin should not care about branch name - only tags matter.

Before my fix `incrementMinorIfNotOnRelease` incrementer assumed using default tag to check if it's a tagged commit or not (this was missed during 1.13.x version that changed default pattern to v1.2.3).
So when using latest version, incrementer w

[2021-03-31 17:12] bgalek commented on #391
https://axion-release-plugin.readthedocs.io/en/latest/configuration/version/#incrementminorifnotonrelease
Yes, the new default assumes v/1.2.3 branch naming pattern.

Before my fix **incrementMinorIfNotOnRelease** `releaseBranchPattern` argument used only new default value (v/1.2.3). I've passed a flag to indicate is it old default (release-) or new (v) and then decide. Of course, when somebody us

[2021-03-31 18:16] bgalek commented on #391
Thanks for the idea with sonatype - it seems kinda obvious now as You mentioned it!
I use local maven for testing - don't see why I couldn't use external one 😅

Please do check if everything seems all right on your end!

[2021-03-31 19:45] mateuszkwiecinski commented on #391
@bgalek So: I managed to run tests linked in the original post, they all passed which means the legacy format is properly recognized now 👍

As mentioned above, I had tried to set custom `releaseBranchPattern` but I couldn't make it work.
Here's sample repro project: https://github.com/mateuszkwiecinski/axion_playground

it has following repository state:
![image](https://user-images.githubusercont

[2021-03-31 20:01] mateuszkwiecinski commented on #392
Just FYI: `afterEvaluate` block isn't needed. Simpler repro could be:
[code]
the latter will always print `0.1.0-SNAPSHOT`

[2021-03-31 20:37] bgalek commented on #391
Than You for testing ang analysis!

I'm gonna dig into `VersionConfig#releaseBranchPattern` docs clearly state:
[code]
but it's from 2015 and maybe something broke. I'm wondering if before 1.13.x this was working?

[2021-03-31 20:40] bgalek commented on #391
I've merged the fix as it preserves old functionality. I'll get back to this issue when confirmed that the bug was introduced in 1.13.x.

[2021-03-31 21:33] mateuszkwiecinski opened #396 "`VersionConfig#releaseBranchPattern` doesn't update release pattern when used together with `incrementMinorIfNotOnRelease` incrementer"
Originally reported in: https://github.com/allegro/axion-release-plugin/issues/391#issuecomment-811393047

Given following config
[code]

and according to the documentation

branch. By default it's set to 'v/.+'.

the plugin should increment patch version when on `random/x.y.z` branch, minor in all other cases.

It seems like is was broken since at least `1.11.0`.

### Sample repository
https://gi

[2021-03-31 21:34] mateuszkwiecinski commented on #391
It did not 😛 I tested on `1.11.0` and `1.12.1` and the `VersionConfig#releaseBranchPattern` option doesn't change the release branch pattern anywhere.

I only started using it in `1.13.1` when I tried to work around the change introduced `1.13.x` with default naming convention (or actually to overcome this precise issue).

I created separate issue: https://github.com/allegro/axion-release-plugin/i

[2021-03-31 21:34] #391 closed

[2021-04-02 12:49] cliffred commented on #224
@bgalek Last time I stumbled upon the problem of handling pushing in PushReleaseTask and HookContext. I can't remember the exact details, but I will look at again this weekend.

[2021-04-07 06:29] jandersson-svt commented on #381
I browsed through the issues. Many of them are feature requests and such. "Axion would be great if it could.. ".
One suggestion is to plow through the issues list and label the issues, according to the default standard list https://docs.github.com/en/github/managing-your-work-on-github/managing-labels

As I understand it, an "triage" user for a project can do this, without having any other access

[2021-04-07 07:12] bgalek commented on #381
@jandersson-svt sweet! I'll be happy to give you permissions to label issues ;)

[2021-04-21 13:59] cwrau commented on #364
Sorry for taking so long!

When trying the new version, I get the following error;

[code]

When I tried to debug, I removed all shadowing, as I couldn't really debug with it.

That fixed that problem, but then I got

[code]

Which is funnily the same error I get when not running the locally built version 😅

[2021-04-28 05:47] realdadfish commented on #328
@bgalek Whats your stance on the above?

[2021-05-11 18:29] milesje opened #398 "Doesn't work with OpenSSH version 8+"
We recently updated all of our servers and laptops to use OpenSSH 8.2p1 and now axion-release fails with a "Auth Fail" error. I spun up a snapshot of one of our Linux Servers that was running version 7.6p1 and it works fine on there.... Both machine are using the exact same RSA 2048 key so it must be the version of OpenSSH installed on the machine.

[2021-05-13 13:29] milesje commented on #398
I'm using version 1.13.2!

[2021-05-17 08:35] sikrinick opened #399 "versionCreator 'versionWithBranch' does not work with non-master main branches."
We have a project with Axion release plugin.
This project releases from branch named "develop"

In previous version we used next code:
[code]
After plugin update code had to be changed to:
[code]
However, it doesn't replicate previous logic.

Now it is impossible as "master" branch name is incapsulated into plugin logic:
https://github.com/allegro/axion-release-plugin/blob/61fc3833b1b4ba07ee4f552d

[2021-05-17 08:58] bgalek commented on #398
@milesje Are you willing to help with reproducing the issue on github action?
Maybe we could test `axion-release-plugin` with latest openssh?
how about that? :)

[2021-05-17 09:31] sikrinick commented on #399
My bad, docs: https://axion-release-plugin.readthedocs.io/en/latest/configuration/version/#custom-version-creator

[2021-05-17 13:14] milesje commented on #398
@bgalek I will help in any way I can. I've never used github actions, but I will learn it if I need to.

[2021-05-17 13:21] bgalek commented on #398
@milesje That's the spirit!

Here are the docs:
https://docs.github.com/en/actions
https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners

You'll need something like
[code]

You can fork this repo and make changes in .github folder :)

[2021-05-21 23:16] SamChristiansen opened #400 "Release Task not Triggering Release Event on GitHub Actions"
I'm using `axion-release-plugin` at the end of a github action, as seen here:

[code]

 I have a second github action that is set to run on a published release event, as seen here:

[code]

`axion-release-plugin` is running successfully and creates a new tag / release, but it is not triggering the release event in GitHub. After some digging, I found that the `github.token` will not trigger new wor

[2021-05-26 17:13] peterfigure opened #401 "Invalid private key"
[code]

looks like the issue might be related to: https://bugs.eclipse.org/bugs/show_bug.cgi?id=520927 - I'm using ed25519 private keys. looks like it was resolved a while ago but have to use the MINA ssh dependency: https://wiki.eclipse.org/JGit/New_and_Noteworthy/5.2 (org.eclipse.jgit:org.eclipse.jgit.ssh.apache).

any chance of switching? elliptic curve keys are very much recommended over RSA t

[2021-05-26 21:28] jannis-baratheon commented on #211
Same here - v1.13.2, Windows 10, GitBash

[2021-05-26 23:19] bgalek commented on #401
hi! @peterfigure sure thing!

[2021-05-26 23:21] bgalek commented on #401
@peterfigure wanna try to make PR with this update? ;)

[2021-05-26 23:23] bgalek commented on #400
Hi @SamChristiansen.
This plugin only operates on git level, it does not integrate with any Github API.

Yet your case looks like an awesome idea, to support github releases.
I'll look into it.

[2021-05-27 19:19] peterfigure commented on #401
I'll try to find some time over the weekend but can't promise anything, also, I don't know Groovy 😳

[2021-05-27 22:28] bgalek commented on #401
fingers crossed! :)

[2021-06-05 14:15] anasoid opened #402 "publish from existing tag ??"
I want to release from github, and  based on tag created by github I will publish the release.

When i publish from branch it's fine the version is liek master-SNAPSHOT. but when i publish from TAG i have the version HEAD-SNAPSHOT.

It's possible to publish existing TAG ?

[2021-06-05 16:43] bgalek commented on #402
Hi @anasoid! What tags format are you creating? What version of the plugin you are using? Could you share your plugin configuration?

[2021-06-06 03:13] lange11 opened #403 "Adres"
https://jitpack.io

[2021-06-06 08:00] bgalek commented on #403
@lange11 how may I help you?

[2021-06-06 08:22] anasoid commented on #402
I change the axion plugin as my need is very simple, but i was having the problem on this version:

https://github.com/anasoid/jmeter-as-code/commit/e43a02d686e99aea6c6ab5492e3c9487b045b309
The version is : 1.13.2

 use the folowing action to release
https://github.com/anasoid/jmeter-as-code/blob/e43a02d686e99aea6c6ab5492e3c9487b045b309/.github/workflows/publish.yml

Action checkout tag like this

[2021-06-17 07:14] bgalek commented on #327
expect this feature in the next release ;0

[2021-06-18 21:26] singleplayer88 commented on #357
@Haardt any chance you found anything to replace `gradle-git-properties` with? Have the same JschConfigSessionFactory issue

[2021-06-21 10:44] kkocel commented on #357
@singleplayer88 you can safely use axion 1.13.2 with gradle-git-properties 2.2.3. The reason behind this error is that both libraries use different jgit versions. If jgit was shadowed in one of them...

[2021-06-23 17:53] benavid opened #407 "Set Git Lab cutomUsername and customPassword not work"
I have the following configuration in my build.gradle file:
[code]
When I run ./gradlew markNextVersion, I receive the following error:

[code]

[2021-06-23 19:02] benavid opened #408 "Set Git Lab SSH customKey and customKeyPassword through gradle configuration plugin not work (plugin version 1.13.2)"
I have the following configuration in my build.gradle file:
[code]
When I run ./gradlew markNextVersion, I receive the following error:

[code]

[2021-06-23 21:14] bgalek commented on #408
hi @benavid! In your error message I see ```invalid privatekey``` error, are you sure you're using right credentials?

[2021-06-23 21:16] bgalek commented on #408
also, at ```repository``` closure, did you meant to use ```customKeyFile``` and ```customKeyPassword```

[2021-06-23 21:19] bgalek commented on #407
I'll create gitlab account and test it out

[2021-06-23 21:37] bgalek commented on #407
Ok, I've manage to reproduce the issue, will take a look!

[2021-06-24 12:56] benavid commented on #408
yes are the right credential beacuse I can push or commit any change with them to the git lab repository

[2021-06-24 13:00] benavid commented on #408
yes but I do not know why customKeyFile is not recognized by the plugin when I put them in the gradle configuration, only accept customKey

[2021-06-24 13:24] bgalek commented on #408
I'll fix documentation regarding that problem, but first I need to get to the bottom of the main issue with gitlab ;)

[2021-06-28 08:46] dmutterSF opened #409 "ServiceUnavailableException when executing task release"
When I try to release I get this error message:
`shadow.org.eclipse.jgit.api.errors.ServiceUnavailableException: Signing service is not available`

[code]
I am using version 1.13.2 of axion-release

This may be related to #364 as the author got the same error later on

[2021-06-28 08:54] bgalek commented on #327
merged@!

[2021-06-28 08:54] #327 closed

[2021-06-28 11:32] tmvlpl commented on #327
That looks great! Thanks a lot, I'll check it out immediately.

[2021-06-28 14:21] bgalek commented on #327
@tmvlpl try out latest version ;)

[2021-06-29 15:33] jsravn commented on #341
Hmm - is it because the tagged commit is a merge commit?

[2021-07-10 15:53] kkocel commented on #316
@realdadfish hey, is this issue still occurs with newest axion release?

[2021-07-10 15:55] kkocel commented on #357
@milesje @singleplayer88 I checked axion 1.13.3 and gradle-git-properties 2.3.1 and they work together really well

[2021-07-12 13:38] realdadfish commented on #316
Haven't looked for this issue in quite some time, sorry, cannot say if this is still an issue or not ATM.

[2021-07-29 14:34] EisenRatte commented on #395
in my opinion this is a bug and should therefore be fixed instead of adding another property.
i created a PR #413

[2021-08-02 10:38] bgalek commented on #402
@anasoid  please try:
[code]

[2021-08-02 10:39] #399 closed

[2021-08-02 10:41] bgalek commented on #400
@SamChristiansen I think that if you use axion-release only to publish new tag (without any usage on gradle side) maybe this would be an alternative for you? https://github.com/allegro-actions/next-version ?

[2021-08-04 17:22] jdomag commented on #401
@bgalek
 I'm affected by this as well.
Any chance you can fix that?

[2021-08-04 17:24] jdomag commented on #408
@bgalek
Same here for Bitbucket - `invalid privatekey: [B@38f820ad`. I can pull/push with git so I'm sure credentials are right.

[2021-08-04 22:58] bgalek commented on #401
I'll check it this weekend!

[2021-08-05 15:57] tjuszczyk commented on #332
Hi @adamdubiel,
Is there any recommended workaround for this issue, especially if team would like to start using gradle 7.x?
With gradle 7.x using  axion-release-plugin 1.10.x is not an option because axion tasks properties are missing an input or output annotation.

[2021-08-05 16:30] bgalek commented on #332
@tjuszczyk master snapshot already supports gradle 7.x, yet as I understand this issue the behaviour of latest versions are different then old ones

[2021-08-07 01:01] tjuszczyk commented on #332
Hi @bgalek
Yes. Currently released version as all releases starting from `v1.11.0` have broken behaviour for monorepos.
As described in the issue, straight after successful release `currentVersion` returns next `-SNAPSHOT` version, not the one just released.
Version `1.10.x` on the other hand does not work with gradle 7.x

[2021-08-08 12:25] shashken commented on #332
Is there an estimate for a fix for this? @bgalek
I have a monorepo repository and `gradle release` `gradle publish` results in -SNAPSHOT versions (gradle 7.0 and no option to go back ATM)

[2021-08-09 06:31] jdomag commented on #401
@bgalek
Any progress on this one?

[2021-08-09 07:06] bgalek commented on #401
sorry to keep you wait!
@peterfigure @jdomag as I understand https://github.com/allegro/axion-release-plugin/pull/414 this could resolve the issue? could you test it out with your ed25519 key?

[2021-08-09 10:00] bgalek commented on #408
@jdomag what kind of private key are you using? is it Ed25519? if so I think we have an easy fix ;)

[2021-08-09 10:00] bgalek commented on #408
@benavid is your key also Ed25519?

[2021-08-09 14:19] jdomag commented on #408
@bgalek
I use RSA for Bitbucket

[2021-08-10 11:21] shashken commented on #332
I think I might have been able to solve this with the new version with a workaround, invoking `scmVersion.getMonorepoConfig().projectDirs` right after the scmVersion configuration to avoid the lazy load problem in the new versions of the plugin + gradle. Unless I missed something this worked with axion & gradle latest versions (1.13.3, 7.1.1)
example:
[code]

[2021-08-10 21:30] #360 closed

[2021-09-06 16:53] JaroslawJarmolowicz-TomTom opened #417 "Unable to use latest axion with ssh-agent"
Hi. I'm are using axion for some time in many projects. Recently I needed to update gradle to 7 from 6 and this required update of axion to latest version (1.13.X).
Unfortunately that causes problem with git communication. Since ssh public/private keys are used with ssh-agent (jenkins driven) we get into series of error all leading to same thing: Auth Failed.
Depending on slight build.gradle chang

[2021-09-06 17:50] bgalek commented on #417
hi! what kind of key are you using? is it RSA or newer ECDS?

[2021-09-06 17:51] bgalek commented on #417
https://github.com/allegro/axion-release-plugin/pull/416/files this should fix a lot of issues, maybe you would like to work a bit with this pr? :)

[2021-09-06 20:18] JaroslawJarmolowicz-TomTom commented on #417
Hi it's a RSA key.
How to proceed with mentioned PR? What is there to be done?

[2021-09-06 20:24] bgalek commented on #417
It's half-way there.
The goal is to replace `org.eclipse.jgit.ssh.jsch` with `org.apache.sshd.sshd-git`
which should be drop-in replacement. It has support for more algorithms and ciphers that should fix few problem (support for gitlab, ecds keys and few other things).

[2021-09-07 12:04] JaroslawJarmolowicz-TomTom commented on #417
I unblocked myself with release.customKey switch (instead of sshagent) so I'm on the bright side now:);. For PR, sure I can try to put some effort here. I would like to start with a test for my case (ssh-agent communication). Can You direct me a beat?

[2021-09-08 10:39] aSemy commented on #353
I had this issue. I resolved it by wrapping the -P arg in quotes.

[code]

I think this issue is particular to Windows - it doesn't like the dot `.` in the property name.

[2021-09-13 06:36] jerckov commented on #417
@JaroslawJarmolowicz-TomTom I had same error after update axion to 1.13.3: `shadow.org.eclipse.jgit.api.errors.TransportException: Auth fail`. As you suggested I used `release.customKey` parameter instead of sshagent but directly in gradle command based on https://axion-release-plugin.readthedocs.io/en/latest/configuration/authorization/#ssh-keypassword:

[code]

But now I have an error: `shadow.o

[2021-09-13 07:02] jerckov commented on #417
My mistake, I did not change access key permission from read to read/write, so `release.customKey` solves the problem :+1:

[2021-09-13 12:03] JaroslawJarmolowicz-TomTom commented on #417
Yeah just a workaround is working. Main issue remains :(

[2021-09-22 02:44] kkovach opened #418 "Current Version Always SNAPSHOT"
I'm not sure what's going on but I cannot get the current version to display anything but a SNAPSHOT. Even if I tag the current commit and then run the currentVersion command immediately after. The current version is then incremented to the next SNAPSHOT. This is my current config...

[code]

[2021-09-24 17:47] gabrieljones commented on #312
I am looking to get just the HEAD commit message. I plan to put commit trailers in there to indicate if the version in a file should be treated as a tag of the HEAD commit for version calculation purposes.

[2021-09-24 17:55] gabrieljones opened #419 "Add commit message of latest commit to ScmPosition"
I would like to consider the trailers in the commit message of the HEAD commit in my `versionCreator` lambda.

[2021-09-24 18:21] gabrieljones commented on #419
Maybe while we are at it we should add all the rest of the commit headers, the standard headers as well as the extra headers if any.
https://github.com/git/git/blob/v2.33.0/commit.c#L1299-L1320

[2021-09-28 19:06] farrukhnajmi commented on #368
Thanks for a great project.
I am running into the same issue. Please advise of a workaround and plans for a fix. Thanks.

[2021-09-29 21:17] benavid opened #420 "[intermittent error] - "cannot open git-receive-pack" when markNextVersion gradle task try to push the new versioning"
I have the following configuration in my build.gradle file:

plugins {
    id 'war'
    id 'jacoco'
    id 'eclipse'
    id 'org.sonarqube' version '3.2.0'
    id 'com.jfrog.artifactory' version '4.21.0'
    id 'maven-publish'
    id 'com.github.sahara3.tomcat-runner' version '0.2.1'
    id 'project-report'
    id 'org.hidetake.ssh' version '2.10.1'
    id 'pl.allegro.tech.build.axion-release' ver

[2021-09-29 22:01] bgalek commented on #420
Hi, `cannot open git-receive-pack` is a git error, are you using a custom git server with self-signed certificates maybe?

[2021-09-29 22:02] bgalek commented on #419
I think it's a cool idea ;)

[2021-09-29 22:02] bgalek commented on #419
@gabrieljones do You want to make PR? :)

[2021-09-30 14:20] farrukhnajmi commented on #332
I have the same monorepo use case and am faced with the same issue as OP. It is a serious blocker for using this excellent plugin. Would be grateful if someone knowledgeable / dev team can comment on any workarounds that are confirmed to work and plan for a fix.

[2021-09-30 14:30] benavid commented on #420
Hi @bgalek we are using a custom Enterprise Git Lab server without self-signed certificates. At the moment we have not enabled the Git Lab server to access via https. Can the intermittence of the error may be related to the SSL configuration?. if the answer is affirmative. Is there some configuration at the axion plugin level to avoid having to configure SSL in the git lab server?

[2021-09-30 18:54] bgalek commented on #420
I think that underlaying library accepts only https protocol, If you want to enable non-ssl communication you should dig into jgit docs. BTW its 2021' so I would really recommend to use secured connection ;)

[2021-10-01 12:49] benavid commented on #420
Thank you @bgalek, I will take your advice :). It is still working fine for the release task anyway, and only fails sporadically with the markNextVersion task. Could you please confirm if the underlaying library really only accepts https protocols?

[2021-10-03 15:16] shashken commented on #332
I get flaky results now with the workaround I suggested, I noticed that when I'm doing normal merge (not squash commits) it does not detect the version and I get a snapshot (straight after a release like OP suggested)
Now when I looked into this I saw that this line might cause the problems:
[code]
The problem there as I understood it is that addPath causes the git tree search to ignore the latest

[2021-10-03 15:20] shashken opened #421 "Version after release is always snapshot! (with monorepo)"
Duplicate of https://github.com/allegro/axion-release-plugin/issues/332 to get some attention, sorry maintainers :(
Check out the latest comment I posted in that thread, there is a problem with this plugin with monorepos that does not allow to use this awesome plugin with them 😢
I think we are close to figuring out why this happends but we need a maintainer/some1 who knows this well to help us her

[2021-10-03 20:28] farrukhnajmi commented on #332
I would be willing to help. I dont know the axion code base but know
groovy. How can I help? A place to start would be to summarize what we know.

On Sun, Oct 3, 2021, 11:16 AM shashken ***@***.***> wrote:

[2021-10-04 06:50] bgalek commented on #332
Hi all! First of all we need a test specifying the behavior, then we can try to fix it. @shashken @farrukhnajmi I'll be happy to review the changes if you start a PR :)

[2021-10-04 06:54] bgalek commented on #421
Hi, I've commend in the original task ;)

[2021-10-04 06:54] #421 closed

[2021-10-06 13:26] shashken commented on #332
@bgalek I made a PR, can you please review it? #422

[2021-10-06 14:41] bgalek commented on #395
@mockitoguy what do you think? Should we be discussing your PR or #413 way?:)

[2021-10-15 15:00] rafalh opened #426 "SLF4J warnings during configuration phrase"
When building project that applies this plugin in version 1.12.4+ I get the following warning:
[code]
In version 1.12.1 this warning does not happen.

Note: I am going to fix this problem, this issue is just for documentation purpose

[2021-10-18 09:16] shashken commented on #332
I have a solution for this problem at #422 @bgalek said there that we might be able to merge today.
Either way you can try to use the snapshot version to see if it works until it gets merged:
build the local shadow jar of the plugin then:
[code]

[2021-10-18 16:21] #426 closed

[2021-10-19 07:27] shashken commented on #332
Those doesn't seem related to the change I made, maybe #425 .
I am running gradle 7.1.1. maybe give it a try.

[2021-10-19 18:24] dominikbrandon commented on #392
Ok, I got it now. Thanks for the explanation. You're right that this gets cached. You can see that [here](https://github.com/allegro/axion-release-plugin/blob/b9a6fb1c430bfd3b68ba2ff2e31198b1055364f0/src/main/groovy/pl/allegro/tech/build/axion/release/domain/VersionConfig.groovy#L160). When you look inside the `ensureVersionExists()`, you'll notice that the version gets resolved only once, at the

[2021-10-19 20:23] bgalek commented on #332
https://github.com/allegro/axion-release-plugin/releases/tag/v1.13.5 fixed backward compability

[2021-10-20 06:05] marclohrer commented on #332
@bgalek Confirmed, 1.13.5 works now with gradle6. Thanks for the quick fix!

[2021-10-27 13:27] jgracindexcom opened #429 "Question: Configuring the plugin from init script"
Hi!

Sorry if this is not the right place to ask questions but I couldn't find a better one.

I wanted to centralize the Axion configuration and have my Jenkins add Axion configuration so that I don't have to maintain the configuration of the plugin in every one of my projects. I used the following content as the initscript which I pass with `gradle -I<initscript> release && gradle -I<initscript>

[2021-11-01 22:46] tanvi-zwei opened #430 "Deleted files are not committed"
Hi,
I'm currently trying to modify and delete files in post release hooks. Modifications and additions are committed and pushed successfully. Files are deleted but I cannot manage to commit the deletions.
Is there such a possibility to do it in post release hook?
If not perhaps it would be possible to add a property 'all' to ScmProperties to propagate it to Git?
I mean like this:
[code]
That would

[2021-11-02 08:13] bgalek commented on #430
Hi @tanvi-zwei!
If we allowed people to react on post-release hook, we should not be limiting its capabilities. It looks like an oversight for me, but gonna have to check code history - maybe it was intentional.

[2021-11-12 16:52] hubsilon commented on #211
Same here - v1.13.6, Ubuntu20, zsh bash

[2021-11-17 22:15] big-andy-coates commented on #401
Hey @bgalek, I'm encountering this "invalid private key" issue, probably due to my ed25519 key. I'm running plugin version 1.13.6, which includes #414, so looks like its not fixed yet.

[2021-11-17 23:15] bgalek commented on #401
Hi, I'm aware :( I've started a complex fix for all ssh related problems, but I've didn't find any time to finish it up :( You can check progress here https://github.com/allegro/axion-release-plugin/pull/416

[2021-11-17 23:18] big-andy-coates opened #431 "Github Actions support"
I've been setting up a new project using Github's own build Actions and it took a little bit of digging to get the release plugin to work.  Thought I'd share the magic incantation needed...

Obviously, the plugin needs the tags to be available so it knows what the next tag should be.  By default, the `actions/checkout@v2` action doesn't include tags and is only a shallow checkout.

I found adding

[2021-11-18 09:20] big-andy-coates commented on #401
Great stuff.

And… great plug-in by the way!

On Wed, 17 Nov 2021 at 23:15, Bartosz Gałek ***@***.***>
wrote:

[2021-11-29 17:08] realdadfish commented on #316
This is still an issue with 1.13.6 / Gradle 7.2:

[code]

JGit is unfortunately not very well maintained, I have at least one other problem regarding [Git Worktrees](https://bugs.eclipse.org/bugs/show_bug.cgi?id=477475) that I have to work-around.

[2021-12-03 09:56] bric3 commented on #285
This is definitely annoying when using Kotlin DSL.

Here are other tricks to work with the _anonymous_ groovy closures.

[code]

FYI `closureOf` creates a `org.gradle.kotlin.dsl.KotlinClosure1`, but for 2 and 3 arg variants you will have to use [`org.gradle.kotlin.dsl.KotlinClosure2`][KotlinClosure2] and [`org.gradle.kotlin.dsl.KotlinClosure3`] classes directly. If the closure shouldn't return any

[2021-12-03 13:51] bric3 opened #434 "Correct way to configure a release channel (not based on branch)"
I'd like to publish released versions of a software per channel. Where the channel is appended to the version number, this is important as the distribution mechanism rely on the suffix to route the release.

I recognize this is similar to _release marker_ like beta, rc, but not quite the same as the marker here will serve as routing in the distribution channel on which I don't have control.

E.g h

[2021-12-20 13:25] zyxist opened #435 "Plugin issues with Git worktrees"
I would like to use Git worktrees to work on two tasks in parallel (e.g. one worktree for my primary work, second worktree for emergency fixes). Unfortunately there are a couple of issues with Axion Release Plugin, when working in this way:

 1. in the second worktree, the plugin does not recognize that it is in a Git repository. It looks like it only checks for the presence of `.git` directory, b

[2021-12-20 14:30] dmutterSF commented on #409
Still have the same issue with the latest release 1.13.6

[2021-12-20 14:40] qazaqstan2025 opened #436 "[Security] Workflow publish.yml is using vulnerable action gradle/wrapper-validation-action"
The workflow publish.yml is referencing action gradle/wrapper-validation-action using references v1. However this reference is missing the commit [89eda1fdc0167f59521d2bb10767f7169fb4d018](https://github.com/gradle/wrapper-validation-action/commits/89eda1fdc0167f59521d2bb10767f7169fb4d018) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version cou

[2021-12-25 21:32] jamesdehart commented on #401
@bgalek I'm running into this issue. It seems to be an issue with the SSH key type. I use `ed25519`. Is there a way to use your build from #416  or are you still working on it?

[2021-12-30 08:30] sssshong commented on #401
@jamesdehart i have same issue. Did you solve this problem?

[2021-12-30 09:07] bgalek commented on #401
unfortunately not yet - if anyone wants to jump into https://github.com/allegro/axion-release-plugin/pull/416 feel free
I'm waiting for some vacation days to sit on this problem and I finally finish it!

[2022-01-05 08:01] mklueh opened #437 "How to detect changes of submodules?"
My application has one or more submodule dependencies. If only those change, the axion plugin obviously won't detect those changes and won't create a new release.

Is there any way to detect those as well?

My idea was to have something like  foldersToInclude = ['../submodule1', '../submodule2'] /

[2022-01-05 13:49] Shusek opened #438 "Incompatible with gradle 7.3.3"
I am currently using plugin with version 1.12.1 on my multimodule android project and works as it should.
But when i tried update to the latest version (1.13.6) i got `java.lang.ClassNotFoundException: org.eclipse.jgit.api.errors.GitAPIException`.
1.13.4 works perfecly fine with gradle 7.3.3 but not working with gradle 6.9

stacktrace:

Line 44

[code]

[2022-01-05 15:30] bgalek commented on #438
hi, I'll test latest gradle

[2022-01-05 15:32] bgalek commented on #435
hi, seems fair to detect registered worktrees, care to make a PR? :)

[2022-01-11 16:48] mpnewcomb opened #439 "Legacy Prefix not being detected when random tags present"
The legacy 'release-' prefix is not being detected when there are random tags present. I had to specify:
[code]
for it to pick up my existing legacy tags. I have another project that just has legacy tags and it picks them up fine.

[2022-01-12 02:27] sfitts commented on #439
In our environment using `1.13.6` even specifying the tag explicitly did not work.  The only solution was to remove the non-conforming tags.

[2022-01-15 13:18] jhilling opened #440 "How to force snapshot version for certain branches"
I'm trying to implement a configuration of the release plugin such that certain branches *always* produce a snapshot version.

For example, any branch matching 'PR-.*' must produce a snapshot version, even if it is on a release tagged changeset.

I am aware of the property 'release.forceSnapshot' however I'd like to effectively apply this option programmatically from within scmVersion configuratio

[2022-01-20 13:45] rmdes commented on #438
Using it with Gradle 7.3.3 without any problem here

[2022-02-09 15:26] david0 opened #443 "Simplify usage on Gitlab CI with versionWithBranch"
Gitlab CI seems to do a detached HEAD checkout (no branch name set). I did not find a way to tell not to do so.

We are using the `versionWithBranch` versionCreator and on feature branches it will generate the same version as on the main/master branch.

I was able to work around that by using `-Prelease.overriddenBranchName=$CI_COMMIT_BRANCH`. Maybe the plugin could be improved to take CI_COMMIT_B

[2022-02-10 08:44] #431 closed

[2022-03-09 06:00] Dujma commented on #291
I see this one is still opened, but in the documentation there are mentions of monorepo approach. Is this now supported?

We have an use case where we have multiple gradle projects in a single repo and we are planning on using Axion for version management.

And in order to establish this process, do we need to have relationship between projects in gradle (like parent gradle project with childs) or

[2022-03-14 12:50] YashPandey90 opened #447 "Releases Not Detected Across Branches"
Hi,

I have been using this plugin personally for a while and love it. I want to use it for a work project and can't seem to get it working with our current workflow.

Essentially we very rarely use the master branch for releases and they tend to only happen through the development branch and sometime through feature branches. Therefore I have set the plugin to incrementMinor on master, incrementP

[2022-03-16 20:03] #447 closed

[2022-03-24 20:49] ssi-aguilar-ja commented on #335
It is true the Version comparison is used, but that poses a problem when the version includes also build meta data since the default Version comparison ignores that part.

In my project I have cases where feature branches increment the build meta data of the version. When I call `release` in the feature branch and then `currentVersion` I'm getting a SNAPSHOT version instead of the released one (th